
.line-title{ overflow:hidden; padding:0px 0 0 0; margin-top:-5px;}
.line-title__icon{ float:left; width:63px; height:63px;}
.line-title__info{ float:left; width:100%; margin-left:-63px; padding:0 0 0 83px;}
.button-delivery-option{ float:none; display:inline-block; margin:3px 0 0 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position:relative; height:47px; width:282px; text-align:center; padding:16px 0 0 0; font:12px/16px Tahoma, Arial, sans-serif; letter-spacing:-0.3px; }
.main-cont-border{ border:solid 1px #e3e3e3; padding:29px 29px 23px 29px; margin:22px 0 0 0;}
.map2{ width:100%; position:relative;}

.short-description{ border-top:solid 3px #ffba00; padding:20px 0 0 0;}
.short-description .title-big{ padding-bottom:2px; }
.short-description p{ font:14px/20px Tahoma, Arial, sans-serif; color:#777777; padding:20px 0 0 0;}
.link-more{ font:14px/16px Tahoma; color:#04cffd; border-bottom:dotted 1px #04cffd; margin:14px 0 0 0; display:inline-block;}
.link-more:hover{ border-bottom:solid 1px transparent;}

.info-object{ padding:20px 0 0 0; border-top:solid 3px #8fd700; margin-top:31px;}
.info-object-list{ margin:22px 0 0 0px; border-top:solid 1px #e3e3e3;}
.info-object-list__item{ list-style:none; padding:10px 13px 7px 13px; border-bottom:solid 1px #e3e3e3; overflow:hidden; min-height:44px;}
.info-object-list__icon{ float:left; width:24px; min-height:24px;}
.info-object-list__info{ float:left; width:100%; margin-left:-24px; padding:2px 0 0 33px; color:#777777; font:14px/18px Tahoma, Arial, sans-serif; letter-spacing:-0.2px;}
.info-object-list__icon1{background-position:-0px -0px; width:17px; height:24px; margin:0px 0 0 4px;}
.info-object-list__icon2{background-position:-18px -0px; width:22px; height:22px; margin:2px 0 0 1px;}
.info-object-list__icon3{background-position:-41px -0px; width:24px; height:24px; margin:1px 0 0 0px;}
.info-object-list__icon4{background-position:-66px -0px; width:24px; height:24px; margin:0px 0 0 0px;}
.info-object-list__icon5{background-position:-91px -0px; width:24px; height:20px; margin:2px 0 0 0px;}
.info-object-list__icon6{background-position:-116px -0px; width:24px; height:24px; margin:0px 0 0 0px;}

.text-right-befor-mobile{ text-align:right;}  

.box-tabs-info-object{ margin:49px 0px 0px 0px; background:#ffffff; border-bottom:solid 3px #348097;}
.box-tabs-info-object li{ list-style:none; width:25%; display:inline-block; vertical-align:top; margin:0 -5px 0 0; padding-right:1px;}
.box-tabs-info-object li:last-child{ padding-right:0px;}
.box-tabs-info-object .button-product{ width:100%; height:47px; margin:0px 0px 0px 0px; display:block; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; position:relative;  padding:11px 2px 0 2px; text-align:center;}
.box-tabs-info-object .button-product:hover{ background:#348097;}
.box-tabs-info-object .button-product:hover .button-product__name{ color:#ffffff;}
.btn4 .button-product__icon{ background-position:-141px -0px; width:18px; height:25px;}
.btn4.button-product_color .button-product__icon, .btn4:hover .button-product__icon{ background-position:-160px -0px;}
.btn5 .button-product__icon{ background-position:-179px -0px; width:25px; height:25px;}
.btn5.button-product_color .button-product__icon, .btn5:hover .button-product__icon{ background-position:-205px -0px;}

.tabs-info-object-cont{ padding:20px 0 0 0;}
.description-object{}
.description-object p{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:17px 0 3px 0; letter-spacing:-0.1px;}
.images-description{ padding:17px 0 18px 0; overflow:hidden; margin:0 -15px 0 -15px;}
.images-description img{ width:100%;}
.images-description__item{ width:20%; padding:15px 15px 0 15px; display:inline-block; vertical-align:top; margin-right:-5px;}

.sub-title{ font:bold 16px/21px Tahoma, Arial, sans-serif; color:#231f20; padding:37px 0 4px 0;}
.list-text{ padding:12px 0 3px 0;}
.list-text__item{ padding:5px 0 0px 16px; list-style:none; position:relative;  font:14px/21px Tahoma; color:#777777;}
.list-text__item:before{ background:#04cffd; width:6px; height:6px; position:absolute; left:1px; top:13px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; content:''; }

.list-numbers-text{ padding:12px 0 0 0; counter-reset: myCounter;}
.list-numbers-text__item{list-style: none; font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:5px 0 15px 38px; letter-spacing:-0.1px; position:relative;}
.list-numbers-text__item:before { counter-increment: myCounter; content:counter(myCounter); font:bold 14px/18px Tahoma, Arial, sans-serif; color:#ffffff; display:block; text-align:center; position:absolute; left:0px; top:5px; background:#04cffd; width:23px; height:23px; border-radius: 11px; -moz-border-radius: 11px; -webkit-border-radius: 11px; padding-top:2px;}
.list-numbers-text__item:last-child{ padding-bottom:3px;}

.column-main-left{ float:left; width:100%; margin-right:-270px; padding:0 300px 0 0;}
.column-main-right{ float:right; width:270px; margin-right:0px; padding:0 0px 20px 0;}
.column-main-left .main-cont-border{ margin:26px 0 0 0;}

.box-map-find{ width:100%; position:relative;}
.box-map-find img{ width:100%;}

.box-popular-services{ padding:20px 0 0 0; margin:30px 0 0 0; border-top:solid 3px #ffba00;}
.box-popular-services__list{ padding:9px 0 0 0;}
.box-popular-services__item{ width:100%; background:#f9f9f9; padding:25px 20px 22px 20px; margin:13px 0 0 0;}
.box-popular-services__logo{ float:left; width:165px; position:relative; z-index:2;}
.box-popular-services__logo img{ width:100%;}
.box-popular-services__info{ float:left; width:100%; float:left; z-index:1; position:relative; padding:3px 0 0 184px; margin-left:-165px;}
.box-popular-services__name{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20; padding:0 0 0 0;}
.box-popular-services .block-stars{ float:none; width:auto; padding:5px 0 0 0;}
.box-popular-services .number-raiting{font:bold 12px/15px Tahoma, Arial, sans-serif; padding:0 0 0 19px; width:auto; text-align:left;}
.box-popular-services__description{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20; margin:16px 0 0 0; border-top:solid 1px #e3e3e3;}
.box-popular-services__description-line{ border-bottom:solid 1px #e3e3e3; padding:12px 0px 13px 0px; font:14px/18px Tahoma; color:#777777;}
.box-popular-services__description-line span{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20; margin:0 0 0 5px;}
.button-light-green__narrow{ height:30px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font:11px/14px Tahoma, Arial, sans-serif; color:#ffffff; padding:8px 13px 0 13px; margin:25px 0 0 0; border:none;}

.previously-ordered{ margin:30px 0 6px 0; border-top:solid 3px #8fd700; padding:20px 0 0 0;}
.previously-ordered_color{ border-top:solid 3px #ffba00;}
.previously-ordered__list{ padding:22px 0 0 0;}
.previously-ordered__item{ margin:0px 0px 30px 0px; border-top:solid 3px #348097; list-style:none; border-bottom:solid 1px #e3e3e3; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; padding:16px 20px 20px 20px;}
.previously-ordered__item:last-child{ margin:0px 0px 0px 0px;}
.previously-ordered__logo{ float:left; width:130px; margin:7px 0 0 0; position:relative; z-index:2;}
.previously-ordered__logo img{ width:100%;}
.previously-ordered__info{ float:left; width:100%; padding:0 0 0 151px; z-index:1; margin-left:-130px;}
.previously-ordered__line-name{ overflow:hidden; padding:3px 0 10px 0px; border-bottom:solid 1px #e3e3e3;}
.previously-ordered__box-name{ float:left; overflow:hidden;}
.previously-ordered__name{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20; float:left; margin-right:19px;}
.previously-ordered__name:hover{ text-decoration:underline;}
.previously-ordered .block-stars{ float:left; width:auto; padding:2px 0 0 0;}

.box-link-product{ float:right; padding:1px 0 0 0;}
.box-link-product__link{ font:14px/14px Tahoma, Arial, sans-serif; color:#04cffd;}
.box-link-product__name{ border-bottom:solid 1px #04cffd; display:inline-block; vertical-align:top; margin-top:1px;}
.box-link-product__icon{ display:inline-block; vertical-align:top; width:19px; height:19px; margin-right:7px;}
.box-link-product__link:hover .box-link-product__name{ border-bottom:solid 1px transparent;}
.box-link-product__link:hover{ color:#04cffd;}
.box-link-product__link.bus{ margin-right:28px;}
.bus .box-link-product__icon{ background-position:-0px -25px;}
.drives .box-link-product__icon{ background-position:-20px -25px;}

.previously-ordered__line-addres{ overflow:hidden; padding:9px 0 8px 0px; border-bottom:solid 1px #e3e3e3;}

.previously-ordered .link-on-map{ float:left; margin:0px 0 0 0; vertical-align:top; overflow:hidden;}
.previously-ordered .link-on-map__icon{ float:left;}
.link-on-map__text{ margin:3px 0 0 -17px; font:14px/18px Tahoma, Arial, sans-serif; color:#777777; padding:0 0 0 26px; float:left; width:100%;}
.previously-ordered .sub-info-time{ float:right; margin:0px 0 0 0;}

.previously-ordered__sub-info{ padding:10px 0 8px 0px; font:12px/18px Tahoma, Arial, sans-serif; color:#555555;}
.previously-ordered__sub-info span{ font-weight:bold;}
.previously-ordered__gray{ background:#f9f9f9; padding:14px 18px 20px 20px; margin:12px 0 0 0; overflow:hidden; text-align:left;}
.list-description{ float:left; padding:0 0 0 0; width:202px;}
.list-description__item{ list-style:none; position:relative; font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:0 0 10px 15px;}
.list-description__item:before{ background:#04cffd; content:''; display:inline-block; vertical-align:top; width:6px; height:6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;position:relative; position:absolute; left:0px; top:9px;}
.list-description__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#000000; display:block;}
.list-description__item:last-child{ padding-bottom:0px;}

.description-dot{ padding:3px 0 0 201px; width:100%; float:left; margin-left:-202px;}
.description-dot__cont{ border-left:solid 1px #e3e3e3; min-height:50px; padding:0 0 0 25px; overflow:hidden;}
.description-dot__icon{ background:#00cefd; width:40px; height:40px; border-radius: 20px 20px 0px 20px; -moz-border-radius: 20px 20px 0px 20px; -webkit-border-radius: 20px 20px 0px 20px; position:relative; margin:2px 0 0 0; text-align:center; padding-top:11px; float:left;}
.icon-description{ width:22px; height:17px; display:inline-block; vertical-align:top; background-position:-40px -25px;}
.description-dot__right{ float:left; margin-left:-40px; padding:0 0 0 60px; width:100%; margin-top:-3px;}
.description-dot__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#000000;}
.description-dot__text{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:5px 0 0 0;}
.description-dot .button-light-green__narrow{ margin:20px 0 0 0;}

.long-button-more{ border:solid 1px #e3e3e3; display:block; padding:5px 0px 5px 0px; margin:30px 0 0 0; position:relative; text-align:center;}
.long-button-more span{ font:14px/18px Tahoma, Arial, sans-serif; color:#888888; display:inline-block; padding:0 18px 0 0; position:relative;}
.long-button-more span:before{ background:url(../img/sprite3.png) no-repeat -65px -25px; width:11px; height:7px; content:''; background-size:330px 200px;  display:block; position:absolute; right:0px; top:6px;}

.one-box-filter{ padding:25px 27px 28px 27px; text-align:left; border-bottom:solid 1px #e3e3e3;}
.one-box-filter:last-child{ border-bottom:none;}
.one-box-filter.with-border{ border-bottom:solid 1px #e3e3e3!important;}
.filter-top{ padding-top: 10px; text-align:left}
.filter-title{ font:bold 16px/21px Tahoma, Arial, sans-serif; color:#231f20;}
a.filter-title{ width:100%; display:block; position:relative;}
a.filter-title.active{}
.filter-title__marker-drop{ background-position:-76px -35px; display:block; width:15px; height:10px; position:absolute; right:-12px; top:8px;}
a.filter-title.active .filter-title__marker-drop{ background-position:-76px -25px;}

.list-service-network{ padding:18px 0 0 0;}
.list-service-network__item{ list-style:none; padding:8px 10px 8px 10px;}
.list-service-network__item:nth-child(even){ background:#ffffff;}
.list-service-network__logo{ display:inline-block; vertical-align:middle; cursor:pointer; padding-right:10px; width:96px;}
.list-service-network__logo img{ width:100%;}
.list-service-network label{ cursor:pointer;}
.list-service-network .name{ width:100%; display:inline-block; vertical-align:middle; margin-left:-110px; padding-left:119px; font:12px/18px Tahoma, Arial, sans-serif; color:#666666;}
.hide-item{ display:none;}

.view-more{ color: #04cffd; font-size: 12px; border-bottom: 1px dotted #04cffd; display: inline-block; margin-top: 16px; position:relative;}
.view-more:before{ background:url(../img/size_more.png) no-repeat left top; width:5px; height:6px; content:''; display:block; position:absolute; right:-12px; top:4px;}

.list-radio{ padding:17px 0 0 0;}
.list-radio.top{ padding:12px 0 0 0;}
.list-radio__item{ padding:6px 0px 6px; list-style:none;}
.list-radio__item:last-child{ padding:6px 0 0 0;}
.list-radio__name{ font:12px/18px Tahoma, Arial, sans-serif; color:#666666; width:100%; margin-left:-16px; padding:0 0 0 25px; display:inline-block; vertical-align:top; cursor:pointer;}
.list-radio_column{}
.list-radio_column .list-radio__item{ width:50%; display:inline-block; vertical-align:top; margin-right:-5px;}
.list-radio_with-border{ border-bottom:solid 1px #e3e3e3; padding-bottom:14px;}
label.active .list-radio__name{ font-weight:bold; color:#15404e;}

.list-checkbox{ padding:17px 0 0 0;}
.list-checkbox__item{ padding:6px 0px 6px; list-style:none;}
.list-checkbox__item:last-child{ padding:6px 0 0 0;}
.list-checkbox__name{ font:12px/18px Tahoma, Arial, sans-serif; color:#666666; width:100%; margin-left:-16px; padding:0 0 0 25px; display:inline-block; vertical-align:top; cursor:pointer;}
.list-checkbox__item.active label .list-checkbox__name{ font-weight:bold; color:#15404e;}
.list-checkbox_column{}
.list-checkbox_column .list-checkbox__item{ width:50%; display:inline-block; vertical-align:top; margin-right:-5px; padding-right:5px;}

.link-other-item{ font:12px/18px Tahoma, Arial, sans-serif; color:#00cefd; border-bottom:solid 1px #66dbfd; display:inline-block; margin:5px 0 0 0;}
.link-other-item:hover{ border-bottom:solid 1px transparent;}

.box-info-network{ border-top:solid 3px #8fd700; padding:20px 0 0 0; margin:30px 0 0 0;}
.box-info-network p{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:16px 0 5px 0;}
.box-info-network__line-img{ padding:6px 0 9px 0;}
.box-info-network__line-img-item{ padding-top:15px;}
.box-info-network__line-img-item img{ width:100%; display:block;}

.tab-hide{ display:none;}
#map{height:500px; width:100%; position:relative;}
.box-description-point{background:rgba(255,255,255,0.4); padding:5px 5px 5px 5px; width:auto; max-width:100%; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; position:relative; display:inline-block;}
.box-description-point__address{font:12px/18px Tahoma, Arial, sans-serif; color:#000000; padding:0 0 0 0;}

.ymaps-2-1-29-balloon__tail, .ymaps-2-1-29-balloon_to_top .ymaps-2-1-29-balloon__tail:after, .ymaps-2-1-29-balloon__tail::after, .ymaps-2-1-29-balloon__close-button{ display:none!important}
.ymaps-2-1-29-balloon__content{ margin:0 10px 0 0!important}
#id_143758864761351644568{ height:auto!important; max-height:16px;}
.ymaps-2-1-29-balloon__content > ymaps { height:auto!important; font-weight:normal!important;}
.ymaps-2-1-29-balloon__content{ background:none!important; padding-bottom:4px!important; padding-top:4px!important; font-weight:normal!important;}
.ymaps-2-1-29-balloon__layout{ background:none!important; font-weight:normal!important;}
.ymaps-2-1-29-balloon{background:rgba(255,255,255,0.7)!important; margin-left:50px!important; margin-top:12px!important; font:12px/18px Tahoma, Arial, sans-serif!important; color:#000000!important; font-weight:normal!important;}
.ymaps-2-1-29-balloon-pane{ z-index:1000!important; font-weight:normal!important;}

.box-map-find #map{height:446px;}

.window-obfect-map{ width:523px; max-width:100%; position:relative; padding-bottom:16px; z-index:10000!important;}
.window-obfect-map__wrap{ position:relative; padding:18px 18px 20px 18px; background:#ffffff; border:solid 1px #e3e3e3; border-top:solid 3px #8fd700;}
.window-obfect-map__wrap:after{ position:absolute; left:50%; background:url(../img/triangle_after_window.png) no-repeat left top; width:16px; height:15px; margin-left:-8px; top:100%; content:''; display:block;}
.window-obfect-map__img{ width:135px; height:135px; margin-top:4px; float:left; position:relative; z-index:2;}
.window-obfect-map__info{ width:100%; margin-left:-135px; padding:0 0 0 154px; position:relative; z-index:1; float:left;}
.window-obfect-map__name{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20;}
.window-obfect-map__addres{ font:14px/18px Tahoma, Arial, sans-serif; color:#777777; padding:3px 0 0 0; letter-spacing:-0.2px;}
.window-obfect-map .info-object-list__item{ padding:9px 0px 8px 0px; border-bottom:solid 1px #e3e3e3; border-top:solid 1px #e3e3e3; margin:12px 0 0 0;}
.one-phone{ float:none; display:inline-block; vertical-align:top;  white-space:nowrap; overflow:hidden;}
.info-object-list__item .one-phone+.one-phone{ }
.window-obfect-map .button-light-green__narrow{ padding:8px 19px 0 19px; margin:13px 0 0 0;}

.box-map-find .ymaps-2-1-29-balloon{background:none!important; margin:0px 0px 0px -139px!important; font:12px/18px Tahoma, Arial, sans-serif!important; color:#000000!important; font-weight:normal!important; padding:0 0 0px 0!important; border:none!important; -moz-box-shadow:0 0 0px 0 #cfcece!important;-webkit-box-shadow:0 0 0px 0 #cfcece!important;box-shadow:0 0 0px 0 #cfcece!important; z-index:10000!important; max-width:523px!important;}
.box-map-find .ymaps-2-1-29-balloon__content{ padding:0 0 0px 0!important; margin:0 0 20px 0!important; max-width:523px!important;}
.box-map-find .ymaps-2-1-29-balloon__content{ padding:0 0 0 0!important; width:auto!important;}

.total-block-product{ border:solid 3px #ffba00; padding:19px 19px 19px 19px; margin:29px 0 0 0; overflow:hidden;}
.total-block-product__column{ float:left; width:48.15%;}
.total-block-product .total-block-product__column+.total-block-product__column{ float:right; width:48.15%; text-align:center; padding:0px 0 0 0;}
.total-block-product__title{ font:bold 16px/18px Tahoma, Arial, sans-serif; color:#231f20; text-align:left;}
.status-availability{ font:bold 12px/18px Tahoma, Arial, sans-serif; color:#ff2289; text-transform:uppercase; padding:4px 0 0 0;}
.graph-price{ border-top:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3; margin:16px 0 0 0;}
.graph-price img{ width:100%;}
.total-block-product__last-price{ font:14px/16px Tahoma, Arial, sans-serif; color:#777777; padding:16px 0 0 0;}
.total-block-product__price{ font:bold 33px/36px Tahoma, Arial, sans-serif; color:#231f20; display:block; padding:5px 0 0 0;}
.total-block-product__price span{ font:22px/26px Tahoma, Arial, sans-serif;}

.similar-product{ border:solid 1px #e3e3e3; padding:20px 20px 18px 20px; overflow:hidden; width:100%; margin:18px 0 0 0; text-align:left;}
.similar-product__img{ float:left; width:118px; z-index:3; position:relative;}
.similar-product__img img{ width:100%; display:block;}
.similar-product__info{ width:100%; z-index:2; position:relative; margin-left:-118px; padding:0 0 0 118px; float:left;}
.similar-product__info-cont{ border-left:solid 1px #e3e3e3; padding:0 0 0 20px;}
.similar-product__name{ font:bold 14px/14px Tahoma, Arial, sans-serif; color:#231f20; margin-top:-2px; padding-bottom:5px;}
.similar-product__line-info{ font:12px/16px Tahoma, Arial, sans-serif; color:#231f20; padding:2px 0px 3px;}
.similar-product__line-info span{ font-weight:bold;}
.similar-product__line-info .price{ font-size:14px;}
.similar-product .button-light-green__narrow{ margin:8px 0 0 0;}
.link-other-product{ font:14px/20px Tahoma, Arial, sans-serif; color:#04cffd; display:inline-block; text-align:center; text-decoration:underline; margin:16px 15px 0 15px;}

.box-other-options{ border-top:solid 3px #348097; margin:30px 0 0 0; padding:20px 0 0 0;}
.box-other-options h2{ padding-bottom:2px;}
.box-other-options__item{ margin:20px 0 0 0; border:solid 1px #e3e3e3; border-top:none; border-bottom:none; background:#ffffff;}
.box-other-options__title{ background:#15404e; padding:11px 20px 13px 20px; font:bold 14px/18px Tahoma, Arial, sans-serif; color:#ffffff; margin:0 -1px 0 -1px;}
.box-other-options__line{ background:#ffffff; padding:6px 6px 6px 20px; overflow:hidden; border-bottom:solid 1px #e3e3e3;}
.box-other-options__item .box-other-options__line:nth-child(odd){ background:#f9f9f9;}
.box-other-options__name{ float:left; width:100%; margin-right:-60px; padding:4px 80px 0 0; color:#348097; font:14px/18px Tahoma, Arial, sans-serif;}
.box-other-options .button-light-green__narrow{ margin:0px 0 0 0; width:60px; float:right; padding:8px 0 0 0;}

.filter-top2{ padding-top: 0px; text-align:left;}
.list-functions{ padding:14px 0 0 0;}
.list-functions__item{ list-style:none; display:block; padding:3px 0px 5px 0px;}
.list-functions__item:last-child{ padding:3px 0px 0px 0px;}
.list-functions__link{ font:14px/18px Tahoma, Arial, sans-serif; color:#777777; padding:0 0 0 15px; position:relative;}
.list-functions__link:before{ background:#04cffd; width:6px; height:6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:absolute; left:0px; top:8px; content:''; display:block;}
.list-functions__link:hover{ text-decoration:underline;}

.box-msg{ border:solid 3px #ffba00; padding:20px 10px 20px 10px; text-align:center;}
.box-msg__text{ font:14px/18px Tahoma, Arial, sans-serif; color:#777777;}
.box-msg__text-color{ font:bold 16px/18px Tahoma, Arial, sans-serif; color:#ffba00; text-transform:uppercase; padding:8px 0 3px 0;}

.table-basket{ margin:30px 0 0 0; display:block; width:100%;}
.table-basket__tr{ width:100%; overflow:hidden;}
.table-basket__tr.head{ background:#15404e; }
.table-basket__th{ float:left; padding:11px 0px 13px 0px; font:bold 14px/18px Tahoma, Arial, sans-serif; color:#ffffff; letter-spacing:-0.2px;}
.table-basket__td{ float:left; padding:0px 0px 0px 0px; font:bold 14px/18px Tahoma, Arial, sans-serif; color:#ffffff; letter-spacing:-0.2px;}
.table-basket__col1{ width:77px; padding-left:18px;}
.table-basket__col7{ width:35px;}
.table-basket__center-cols{ float:left; margin-left:-77px; margin-right:-35px; padding:0 35px 0 77px; width:100%;}
.table-basket__col2{ width:19.5%; padding-left:9px; float:none; display:inline-block; vertical-align:middle;}
.table-basket__col3{ width:27%; float:none; display:inline-block; vertical-align:middle; margin-right:-5px;}
.table-basket__col4{ width:16.5%; float:none; display:inline-block; vertical-align:middle; margin-right:-5px;}
.table-basket__col5{ width:19.5%; float:none; display:inline-block; vertical-align:middle; margin-right:-5px;}
.table-basket__col6{ width:17.5%; float:none; display:inline-block; vertical-align:middle; margin-right:-5px;}
.table-basket__body{ border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3;}
.table-basket__body .table-basket__tr{ background:#f9f9f9; padding:15px 0px 15px 0px; border-bottom:solid 1px #e3e3e3;}
.table-basket__body .table-basket__tr:nth-child(even){ background:#ffffff;}
.table-basket__img{ width:53px; height:53px; border:solid 1px #e4e4e4; display:block; background:#ffffff; }
.table-basket__name{ font:14px/18px Tahoma, Arial, sans-serif; color:#348097;}
.table-basket__name:hover{ text-decoration:underline;}
.table-basket__price{ font:12px/18px Tahoma, Arial, sans-serif; color:#231f20;}
.table-basket__price .one-price{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20;}
.table-basket__price .total-price{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#ffba00;}
.field-number-product{ height:41px; margin:12px 0 0 0; position:relative; display:inline-block; width:85px;}
.field-number-product__input{ width:100%; height:29px; border:solid 1px #e3e3e3; font:12px/16px Tahoma, Arial, sans-serif; color:#555555; padding:5px 25px 5px 25px; background:#ffffff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative; text-align:center; -moz-box-shadow:inset 0 1px 0px 0 #ededed;-webkit-box-shadow:inset 0 1px 0px 0 #ededed;box-shadow:inset 0 1px 0px 0 #ededed;	}
.field-number-product__input::-webkit-input-placeholder{color:#757575; opacity:1 !important;}
.field-number-product__input::-moz-placeholder{color:#757575; opacity:1 !important;}
.button-minus{ width:28px; text-align:center; height:29px; background:url(../img/minus-2.png) no-repeat center center; display:block; position:absolute; left:0px; top:0px; z-index:2;}
.button-plus{ width:28px; text-align:center; height:29px; background:url(../img/plus-2.png) no-repeat center center; display:block;  position:absolute; right:0px; top:0px;  z-index:2;}
.delete-product{ background-position:-93px -25px; width:17px; height:17px; margin:18px 0 0 0;}

.box-tabs_line{	height:10px;}
.hide-tablet{}
.total-info-basket{ font:bold 18px/28px Tahoma, Arial, sans-serif; color:#231f20; padding:20px 0 0 0;}
.total-info-basket .color1{ color:#8fd700; padding:0 0 0 5px;}
.total-info-basket .color2{ color:#ffba00; padding:0 0 0 3px;}

.button-add-position{ display:inline-block; font:12px/16px Tahoma, Arial, sans-serif; color:#555555; margin:17px 3px 0 0; white-space:nowrap; text-align:left;}
.button-add-position__icon{ background-position:-0px -47px; width:35px; height:35px; margin:2px 8px 0 0; display:inline-block; vertical-align:middle;}
.button-add-position__name{ font:14px/14px Tahoma, Arial, sans-serif; color:#00cefd; display:inline-block; vertical-align:middle; margin-left:-40px; width:100%; padding:0 0 0 40px;}
.button-add-position__name span{border-bottom:solid 1px #00cefd; white-space:normal;}
.button-add-position:hover .button-add-position__name span{ border-bottom:solid 1px transparent; }

.text-right-to-tablet{ text-align:right;}

.sub-form-order{ padding:30px 0 0 0;}
.sub-form-order__col{ margin-top:15px; padding-top:20px;}
.sub-form-order__color1{ border-top:solid 3px #8fd700;}
.sub-form-order__color2{ border-top:solid 3px #00cefd;}
.sub-form-order__color3{ border-top:solid 3px #9b5ebd;}
.sub-form-order__color4{ border-top:solid 3px #ff2289; margin-top:30px; padding-top:20px;}
.sub-form-order__color5{ border-top:solid 3px #348097; margin-top:30px; padding-top:20px;}

.sub-form-order .title-big{ padding-bottom:7px;}
.sub-form-order .field-input{ margin-top:15px; min-height:28px;}
.sub-form-order .list-radio{ padding:17px 0 0 0;}
.sub-form-order .list-radio__item{ padding:6px 0px 6px; list-style:none;}
.sub-form-order label{ padding:4px 0 0 0;}
.sub-form-order .list-radio{ padding:0px 0 0 0;}
.sub-form-order .field-input input[type="text"]::-webkit-input-placeholder{color:#231f20!important; opacity:1!important; }
.sub-form-order .field-input input[type="text"]::-moz-placeholder{color:#231f20!important; opacity:1!important; }
.sub-form-order .field-input textarea{ height:108px;}
.button-light-green.broad{ margin:30px 0 6px 0; padding:6px 25px 0 25px; width:auto; height:47px; letter-spacing:-0.3px;}

.box-performer{ border:solid 3px #ffba00; padding:21px 20px 20px 20px; text-align:left; overflow:hidden;}
.box-performer__img{ float:left; width:193px; height:193px; text-align:center; position:relative; z-index:2;}
.box-performer__img img{ display:block; width:100%;}
.box-performer__info{ float:left; width:100%; position:relative; z-index:1; margin-left:-193px; padding:0 0 0 193px;}
.box-performer__info-cont{ background:#f9f9f9; min-height:193px; padding:13px 20px 20px 25px;}
.box-performer p{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:5px 0px 5px 0px;}
.box-performer .font-bold{ font-weight:bold!important; color:#231f20;}
.box-performer__bottom{ border-top:solid 1px #e3e3e3; margin:10px 0 0 0; padding:15px 0 0 0;}
.box-performer__more{ font:14px/21px Tahoma, Arial, sans-serif; color:#04cffd; border-bottom:solid 1px #04cffd; display:inline;}
.box-performer__more:hover{ border-bottom:solid 1px transparent;}

.sub-form-order_top{ padding:14px 0 0 0;}

.line-info-form-order{ border-bottom: solid 1px #e3e3e3; border-top: solid 1px #e3e3e3; padding:12px 12px 13px 0px; position:relative; font:14px/18px Tahoma, Arial, sans-serif; color:#777777; margin:15px 0 0 0;}
.line-info-form-order span{ font-weight:bold; color:#231f20; padding-left:5px;}
.sub-form-order .line-info-form-order+.line-info-form-order{ margin:0px 0 0 0; border-top:none;}
.sub-form-order_top .button-light-green{ margin:20px 0 0 0;}
.sub-form-order_top .button-light-green.top{ margin:25px 0 0 0;}
.icon-edit-info{ background-position:-112px -25px; width:14px; height:13px; position:absolute; right:0px; top:50%; margin-top:-7px;}

.table-your-order{ margin:15px 0 0 0; border-top:solid 1px #e3e3e3;}
.table-your-order__tr{ padding:12px 20px 12px 20px; background:#f9f9f9; border-bottom:solid 1px #e3e3e3; list-style:none; overflow:hidden; width:100%;}
.table-your-order__tr:nth-child(even){ background:#ffffff;}
.table-your-order__td{ float:left;}
.table-your-order__td_col1{ width:112px; font:14px/18px Tahoma, Arial, sans-serif; color:#777777;}
.table-your-order__other-cols{ width:100%; margin-left:-112px; padding:0 0 0 113px; float:left;}
.table-your-order__td_col2{ width:51%; text-align:left;}
.table-your-order__td_col3{ width:22.5%; text-align:center;}
.table-your-order__td_col4{ width:10%; text-align:center;}
.table-your-order__td_col5{ width:16.5%; text-align:right;}
.button-light-green.top2{ margin:30px 0 0 0;}

.box-msg_color2{ border:solid 3px #348097; margin:25px 0 5px 0; padding:27px 10px 27px 10px;}
.box-login{ border-top:solid 3px #ffba00; padding-top:20px; min-height:379px;}
.box-login .box-field{ margin:22px 0 0 0; padding-bottom:3px;}
.box-login ::-webkit-input-placeholder{color:#231f20!important; opacity:1 !important;}
.box-login ::-moz-placeholder{color:#231f20!important; opacity:1 !important;}
.dark::-webkit-input-placeholder{color:#231f20!important; opacity:1 !important;}
.dark::-moz-placeholder{color:#231f20!important; opacity:1 !important;}

.box-field .button-light-green{ margin:5px 0 0 0; float:left;}
.checkbox1{ float:right; margin:12px 0 0 0;}
.line-login-with-soc{ border-top:solid 1px #e3e3e3; margin:27px 0 0 0; padding:26px 0 0 0; text-align:center;}
.line-login-with-soc__title{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20; padding-bottom:10px;}
.line-login-with-soc__link{ width:52px; height:52px; display:inline-block; vertical-align:top; margin:16px 6px 0 6px;}
.line-login-with-soc__link_vk{background-position:-0px -84px;}
.line-login-with-soc__link_f{background-position:-54px -84px;}

.box-reg{ border-top:solid 3px #8fd700; padding-top:20px; min-height:379px;}
.box-reg form{ padding-top:2px;}
.box-reg .box-field{ margin:20px 0 0 0; padding-bottom:0px;}
.box-reg .box-field.top{ margin:14px 0 0 0;}
.box-reg ::-webkit-input-placeholder{color:#231f20!important; opacity:1 !important;}
.box-reg ::-moz-placeholder{color:#231f20!important; opacity:1 !important;}

.img-text-form{ width: 99px; float:left; padding-bottom:5px; margin-top:6px;}
.column-select-text{ width:100%; max-width:360px; margin-left:-99px; padding:0 0 0 117px; float:left; text-align:left; margin-top:0px;}
.column-select-text label{ font:bold 12px/14px Tahoma, Arial, sans-serif; color:#231f20; padding-bottom:11px; padding-top:0px;}

.line-sub-text{ text-align:center; padding:23px 0px 25px 0px;}
.line-sub-text p{ font:16px/25px Tahoma, Arial, sans-serif; color:#777777; max-width:890px; display:inline-block;}

.list-letters{ padding:14px 0 0 0;}
.list-letters.top{ padding:0px 0 0 0;}
.list-letters__item{ display:inline-block; vertical-align:top; list-style:none; padding:8px 0px 0 0; width:13px; text-align:center;}
.list-letters__link{ display:block; font:14px/18px Tahoma, Arial, sans-serif; color:#15404e; text-transform:uppercase;}
.list-letters__link:hover, .active .list-letters__link{ font-weight:bold;}

.one-box-filter.top2{ padding:17px 27px 27px 27px;}

.border-top-color{ border-top:solid 3px #ffba00; margin-top:0px; padding-top:20px;}
.border-top-color_top1{ margin-top:22px;}
.border-top-color_top2{ margin-top:30px;}
.border-top-color_top3{ margin-top:25px;}
.border-top-color_top4{ margin-top:20px;}
.border-top-color_color1{ border-top:solid 3px #8fd700;}
.border-top-color_color2{ border-top:solid 3px #00cefd;}
.border-top-color_color3{ border-top:solid 3px #9b5ebd;}
.border-top-color_color4{ border-top:solid 3px #ff2289;}
.border-top-color_color5{ border-top:solid 3px #348097;}
.border-top-color_color6{ border-top:solid 3px #1e4d5b;}

.list-car{ padding:0 0 0 0; margin:0 -15px 0 -15px;}
.list-car__item{ display:inline-block; vertical-align:top; width:33.33%; padding:22px 15px 8px 15px; margin-right:-5px; list-style:none;}
.list-car__item-cont{ border:solid 1px #e3e3e3; min-height:139px; padding:10px;}
.list-car__name{ background:#f9f9f9; height:78px; display:block; padding:13px 0px 0px 24px;}
.list-car__name-logo{ width:50px; display:inline-block; vertical-align:middle; margin-right:-5px;}
.list-car__name-info{ width:100%; height:50px; display:inline-block; vertical-align:middle; margin-left:-50px; padding:7px 0 0 63px; font:10px/16px Tahoma, Arial, sans-serif; color:#888888; text-transform:uppercase; letter-spacing:-0.2px;}
.list-car__brand{ display:block; font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20; text-transform:none; padding-top:2px; letter-spacing:0px;}
.list-car__link{ font:12px/16px Tahoma, Arial, sans-serif; color:#04cffd; text-decoration:underline; }
.list-car__sub-line{ padding:16px 0 0 0; font:12px/16px Tahoma, Arial, sans-serif; color:#777777; text-align:center;}
.list-car__sub-line span{ padding:0 3px 0 3px;}
.list-car__item-hide{ display:none;}

.long-button-more.top{ margin:22px 0 6px 0; }

.box-tabs-standart{ margin:10px 0px 0px 0px; background:#ffffff; border-bottom:solid 1px #e3e3e3; padding-bottom:1px;}
.box-tabs-standart li{ list-style:none; width:20%; display:inline-block; vertical-align:top; margin:0 -5px 0 0; padding-right:1px;}
.box-tabs-standart li:last-child{ padding-right:0px;}
.box-tabs-standart .button-product{ width:100%; height:47px; margin:0px 0px 0px 0px; display:block; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; position:relative;  padding:11px 2px 0 2px; text-align:center;}
.box-tabs-standart .button-product:hover{ background:#348097;}
.box-tabs-standart .button-product:hover .button-product__name{ color:#ffffff;}

.tabs-window-cont{ padding:20px 0 0 0;}
.list-town_opt2{ width:25%; padding:3px 10px 0 0; margin-right:-5px;}
.form-window{ padding:0px 0 0 0; border-top:solid 1px #e3e3e3; margin-top:22px;}
.form-window-line{ border-bottom:solid 1px #e3e3e3; padding:10px 0 30px 0; }
.list-checkbox label{ display:block; width:100%; }
.list-radio label{ display:block; width:100%; }
.form-window .list-radio{ padding:20px 0 0 0;}
.form-window .list-checkbox{ padding:20px 0 0 0;}

.filrter-news{ padding:11px 0 0 0;}
.filrter-news .box-field{ margin:16px 0 0 0;}
.filrter-news .box-field.top{ margin:9px 0 0 0;}
.list-radio_three-column{}
.list-radio_three-column .list-radio__item{ width:33.33%; display:inline-block; vertical-align:top; margin-right:-5px;}
.list-radio_top{ padding-top:7px; padding-bottom:0px;}
.form-subscription{ padding:8px 0 0 0;}
.form-subscription .button-light-green{ margin:20px 0 1px 0;}
.form-subscription__mail{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:13px 0 0 0;}
.form-subscription__link{ font:12px/14px Tahoma, Arial, sans-serif; color:#04cffd; border-bottom:dotted 1px #04cffd; margin:9px 0 0 0; display:inline-block;}
.form-subscription__link:hover{ border-bottom:solid 1px transparent;}

.main-news{ width:100%; margin:22px 0 6px 0;}
.main-news__cont{ background:#f9f9f9; padding:0 0 10px 0;}
.main-news__cont img{ display:block; width:100%; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.3s linear;}
.main-news__info{ padding:24px 20px 20px 24px; overflow:hidden;}
.main-news__text{ padding-bottom:5px;}
.main-news__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20;}
.main-news__text p{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:0 0 0 0; letter-spacing:-0.1px;}

.main-news .button-light-green__narrow{ margin:21px 0 0 0; float:left;}
.main-news .icons-comment-block{ padding:27px 0 0 0; float:right;}

.list-last-news{ margin:22px 0 6px 0; border-top:solid 1px #e3e3e3;}
.list-last-news__item{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; border-bottom:solid 1px #e3e3e3; list-style:none; padding:14px 0px 15px 0px;}
.list-last-news__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20; letter-spacing:-0.2px;}
.list-last-news__date{ font:12px/21px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:0px; padding:4px 0 0 0;}

.list-main-news{ padding:2px 0 0 0; margin:0 -15px 0 -15px;}
.list-main-news__item{ width:50%; display:inline-block; vertical-align:top; padding:20px 15px 8px 15px; margin-right:-5px;} 
.list-main-news__item-cont{}
.list-main-news__line-title{ background:#f9f9f9; overflow:hidden;}
.list-main-news__img{ display:inline-block; vertical-align:middle; width:122px; overflow:hidden; position:relative; z-index:2;}
.list-main-news__img img{ width:100%; display:block;}
.list-main-news__info{ display:inline-block; vertical-align:middle; margin:0 0 0 -127px; padding:0 10px 0 152px; width:100%; position:relative; z-index:1;}
.list-main-news__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20; letter-spacing:-0.2px;}
.list-main-news__date{ font:12px/21px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:0px; padding:0px 0 0 0;}
.list-main-news__text{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:0px; padding:19px 0 0 0;}
.list-main-news .button-light-green__narrow{ margin:21px 0 0 0; padding:7px 17px 0 17px;}

.list-last-news2{ background:#f9f9f9; padding:10px 10px 18px 10px; margin:23px 0 0 0; overflow:hidden;}
.list-last-news2__item{ display:block; padding:14px 14px 10px 20px; list-style:none; overflow:hidden;}
.list-last-news2__img{ float:left; width:168px; height:168px; margin-top:5px; position:relative; z-index:2;}
.list-last-news2__info{ float:left; width:100%; margin-left:-168px; padding:0 0 0 197px; position:relative; z-index:1;}
.list-last-news2__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20; letter-spacing:-0.1px;}

.line-section-news{ padding:5px 0 0 0; overflow:hidden;}
.line-section-news__left{ float:left;}
.line-section-news__section{ display:inline-block; vertical-align:top; font:12px/18px Tahoma, Arial, sans-serif; color:#348097;}
.line-section-news__date{ font:12px/18px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:0px; padding:0px 0 0 0; display:inline-block; vertical-align:top; }
.delimiter{display:inline-block; vertical-align:top; font:12px/18px Tahoma, Arial, sans-serif; color:#777777; display:inline-block; vertical-align:top; padding:0 5px 0 5px;}
.line-section-news .icons-comment-block{ padding:1px 0 0 0; float:right;}
.line-section-news__text{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:0px; padding:15px 0 0 0; letter-spacing:-0.1px;}
.list-last-news2 .button-light-green__narrow{ margin:21px 0 0 0; padding:7px 13px 0 13px;}

.list-market-news{ margin:22px 0 6px 0; border-top:solid 1px #e3e3e3;}
.list-market-news__item{ padding:15px 0px 16px 0px; border-bottom:solid 1px #e3e3e3; list-style:none;}
.list-market-news__title{ font:14px/21px Tahoma, Arial, sans-serif; color:#348097; letter-spacing:-0.1px;}
.list-market-news__title:hover{ text-decoration:underline;}
.list-market-news__date{ font:12px/18px Tahoma, Arial, sans-serif; color:#777777; padding:5px 0 0 0;}

.title-with-filter{ }
.title-with-filter h1{ float:left;}
.sort_by.opt2{ margin:1px 0 0 0!important;}
.sort_by.opt2 .sort_by span{
	margin-right: 0px!important;}
.sort_by.opt2 .sort_by_list{
	display: inline-block;
	margin-right: 0px; margin-left:0px;}
.sort_by.opt2 .sort_by_list .caret {
	margin-left: 1px;
	border-top: 3px solid #04cffd;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;}
.title-big.opt2{ font:bold 18px/26px Tahoma, Arial, sans-serif; margin:-3px 0 0 0;}
.main-cont-border.top2{ margin:20px 0 0 0;}

.list-last-news2.top2{ margin:0px 0 0 0;}
.item-search-hide{ display:none;}

.line-top-info-news{ padding:11px 0 0 0; overflow:hidden;}
.line-top-info-news_bottom{ border-top:solid 1px #e3e3e3; padding:24px 0 0 0; margin:4px 0 0 0;}
.line-top-info-news p{ font:12px/18px Tahoma, Arial, sans-serif!important; color:#777777!important; padding:0 0 0 0!important; display:inline-block; vertical-align:top;}
.line-top-info-news__link{ font:12px/18px Tahoma, Arial, sans-serif; color:#348097;}
.line-top-info-news__link:hover{ text-decoration:underline;}
.line-top-info-news .icons-comment-block{ padding:3px 0 0 0; display:inline-block;}

.icon-comment_3{ width:18px; height:17px; background-position:-128px -25px; margin-top:-1px; margin-right:0px;}
.line-top-info-news .icons-comment-block__link:last-child{ margin-right:0px;}

.filter_block_3.top{ margin-top:10px;}

.list-tags{ padding:20px 0 0 0; margin-left:-7px;}
.list-tags__item{ display:inline-block; vertical-align:top; padding:0px 0px 0px 7px; font:14px/21px Tahoma, Arial, sans-serif; color:#777777;}
.list-tags__link{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777;}
.list-tags__link:hover{ text-decoration:underline;}

.box-open-news{ padding:0 0 0 0; }
.box-open-news__img{ float:left; margin:7px 29px 15px 0; width:340px; max-width:48%;}
.box-open-news__img img{ width:100%; display:block;}
.box-open-news p{ font:14px/21px Tahoma, Arial, sans-serif; color:#231f20; padding-bottom:21px; letter-spacing:-0.1px;}

.main-cont-border.opt3{ padding-top:20px;}
.box-open-news .box-info-network__line-img{ padding:0px 0 34px 0;}

.line-video{ text-align:center; display:block; width:100%; padding:15px 0 33px 0;}
.line-video__video{ display:inline-block;  width:100%; max-width:570px; height:380px;}
.line-video__video iframe{ width:100%; height:100%;}

.box-tabs-news{ margin:45px 0px 0px 0px; background:#ffffff; border-bottom:solid 3px #348097;}
.box-tabs-news li{ list-style:none; width:33.33%; display:inline-block; vertical-align:top; margin:0 -5px 0 0; padding-right:1px;}
.box-tabs-news li:last-child{ padding-right:0px;}
.box-tabs-news .button-product{ width:100%; height:47px; margin:0px 0px 0px 0px; display:block; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; position:relative;  padding:11px 2px 0 2px; text-align:center;}
.box-tabs-news .button-product:hover{ background:#348097;}
.box-tabs-news .button-product:hover .button-product__name{ color:#ffffff;}

.btn6 .button-product__icon{ background-position:-231px -0px; width:26px; height:25px;}
.btn6.button-product_color .button-product__icon, .btn6:hover .button-product__icon{ background-position:-258px -0px;}

.btn7 .button-product__icon{ background-position:-148px -25px; width:29px; height:21px; margin-top:2px;}
.btn7.button-product_color .button-product__icon, .btn7:hover .button-product__icon{ background-position:-179px -25px;}

.related-news{ padding-bottom:6px;}
.related-news .list-main-news__img{ width:116px;}
.related-news .list-main-news__info{ margin:0 0 0 -121px; padding:0 20px 0 145px; }
.related-news .list-main-news__title{ font:bold 12px/18px Tahoma, Arial, sans-serif;}
.related-news .list-main-news__date{ font:12px/18px Tahoma, Arial, sans-serif; color:#777777; padding:0 0 0 0!important;}
.related-news .icons-comment-block{ padding:14px 0 0 0;}
.related-news .list-main-news__item{ padding:20px 15px 0px 15px;}

.info-product-tests{}
.info-product-tests__date{ font:12px/21px Tahoma, Arial, sans-serif!important; color:#777777; padding-bottom:15px!important;}
.info-product-tests .button-light-green__narrow{ margin:16px 0 0 0!important; float:none!important; padding:7px 17px 0 17px!important;}

.box-open-tests2{ margin-top:0px;}
.box-open-tests2__item{ padding:22px 0 0 0; padding-bottom:0px;  text-align:center;}
.box-open-tests2__title{ background:#15404e; position:relative; width:100%; padding:4px 35px 5px 5px; z-index:2; text-align:left;}
.box-open-tests2__text{font:bold 14px/20px Tahoma, Arial, sans-serif; color:#ffffff; width:100%; display:inline-block; vertical-align:middle; margin-left:-52px; padding:0 0 0 72px;}

.box-tests__place{ float:none; width:52px; height:52px; background-position:-108px -84px; padding-top:12px; display:inline-block; vertical-align:middle; text-align:center; font:bold 10px/10px Tahoma, Arial, sans-serif; color:#ffffff; padding-top:6px; margin-right:-5px;}
.box-tests__place span{  font:bold 24px/24px Tahoma, Arial, sans-serif; display:block; margin-bottom:-1px;}
.box-tests__place.color2{ background-position:-163px -84px;}

.box-open-tests2 .list-option-tests{ padding:0 0 10px 0; position:relative; z-index:1; text-align:left;}
.box-open-tests2 .list-option-tests__item{ padding:15px 15px 15px 15px!important; border-bottom:solid 1px #e3e3e3; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3;}
.box-open-tests2 .list-option-tests__icon{ vertical-align:top; margin-right:-5px;}
.box-open-tests2 .list-option-tests__info{ padding:0 0 0 43px; margin:0 0 0 -31px; display:inline-block; vertical-align:top; width:100%;}
.box-open-tests2 .list-option-tests__title{ font:14px/16px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:-0.1px;}
.box-open-tests2 .list-option-tests__text{ font:14px/21px Tahoma, Arial, sans-serif; display:block; margin:0 0 0 0px; padding:12px 0 12px 0px;}
.box-open-tests2 .plus{ background:url(../img/plus.png) no-repeat left top; width:17px; height:17px; position:relative; display:inline-block; vertical-align:middle;}
.box-open-tests2 .minus{ background:url(../img/minus.png) no-repeat left top; width:17px; height:5px; position:relative; display:inline-block; vertical-align:middle; margin-bottom:4px;}
.box-open-tests2 .result{ background:url(../img/result.png) no-repeat left top; width:17px; height:11px; position:relative; display:inline-block; vertical-align:middle; margin-bottom:3px;}
.box-open-tests2 .link-on-page-test{ font:14px/21px Tahoma, Arial, sans-serif; color:#04cffd; display:inline-block; vertical-align:top; text-decoration:underline; margin:4px 0 0 0;}
.box-open-tests2 .link-on-page-test:hover{ text-decoration:none; color:#04cffd;}

.title-with-filter.opt2{ padding:22px 0 0 0;}
.title-with-filter.opt2 .sort_by.opt2{ margin:8px 0 0 0!important; letter-spacing:-0.1px;}

.line-buttons-tabs{ overflow:hidden; padding:0px 220px 0 0; float:left; width:100%; margin:0 -220px 0 0;}
.line-buttons-tabs__item{ display:inline-block; vertical-align:top; margin-right:6px; padding-bottom:10px;}
.line-buttons-tabs__link{ background:#f0efef; height:35px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; position:relative; white-space:nowrap; padding:6px 18px 0px 17px; display:block;}
.active .line-buttons-tabs__link, .line-buttons-tabs__link:hover{ background:#348097;}
.line-buttons-tabs__icon{ display:inline-block; vertical-align:top;}
.line-buttons-tabs__name{ display:inline-block; vertical-align:top; font:12px/18px Tahoma, Arial, sans-serif; color:#15404e; padding:2px 0 0 8px; text-transform:uppercase;}
.active .line-buttons-tabs__name, .line-buttons-tabs__link:hover .line-buttons-tabs__name{ color:#ffffff;}
.icon-season1{ background-position:-37px -47px; width:23px; height:23px;}
.active .icon-season1, .line-buttons-tabs__link:hover .icon-season1{ background-position:-62px -47px;}
.icon-season2{ background-position:-87px -47px; width:21px; height:23px;}
.active .icon-season2, .line-buttons-tabs__link:hover .icon-season2{ background-position:-110px -47px;}
.icon-season3{ background-position:-133px -47px; width:22px; height:23px;}
.active .icon-season3, .line-buttons-tabs__link:hover .icon-season3{ background-position:-156px -47px;}

.table-leaders{ padding:20px 0 0 0;}
.table-leaders__tr{ overflow:hidden; background:#ffffff; border-bottom:solid 1px #e3e3e3; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; list-style:none;}
.table-leaders__tr.head{ background:#15404e!important; border:none!important;}
.table-leaders__th{  font:bold 14px/18px Tahoma, Arial, sans-serif; color:#ffffff; float:left; padding:11px 0px 13px 0px; list-style:none;}
.table-leaders__td{ float:left; padding:9px 0px 9px 0px; font:14px/21px Tahoma, Arial, sans-serif; color:#777777;}
.table-leaders__col1{ width:55px; text-align:center;}
.table-leaders__center-cols{ width:100%; float:left; margin-left:-55px; margin-right:-270px; padding:0 270px 0 55px;}
.table-leaders__col2{ width:20%; text-align:left; padding-left:7px;}
.table-leaders__col3{ width:80%; text-align:left;}
.table-leaders__col4{ width:270px; text-align:right; padding:6px 6px 2px 0px;}
.leaders-up{ font:14px/21px Tahoma, Arial, sans-serif; color:#8fd700; white-space:nowrap;}
.leaders-up__icon{ background-position:-179px -47px; width:15px; height:22px; display:inline-block; vertical-align:top; margin-right:5px;}
.leaders-down{ font:14px/21px Tahoma, Arial, sans-serif; color:#f51036; white-space:nowrap;}
.leaders-down__icon{ background-position:-195px -47px; width:15px; height:22px; display:inline-block; vertical-align:top; margin-right:5px;}
.table-leaders__title{ font:14px/21px Tahoma, Arial, sans-serif; color:#348097; display:inline-block;}

.button-light-blue{ height:30px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font:11px/14px Tahoma, Arial, sans-serif; color:#ffffff; padding:8px 13px 0 13px; margin:0px 2px 0 0; border:none; background:#00cefd; display:inline-block; text-transform:uppercase; vertical-align:top;}
.button-light-blue:hover{ color:#ffffff; -moz-opacity: 0.8; -khtml-opacity: 0.8;  opacity: 0.8;}
.table-leaders .button-light-green__narrow{ margin:0 0 0 0;}

.sub-title-mini{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20; padding:25px 0 4px 0;}

.list-numbers-text.opt2{ padding:5px 0 0 0; counter-reset: myCounter;}
.list-numbers-text.opt2 .list-numbers-text__item{padding:7px 0 7px 38px; }
.spec-font{ font-weight:bold; color:#000000; font:bold 14px/18px Tahoma, Arial, sans-serif; padding:9px 0px 2px 0px;}

.list-last-news2.opt2{ margin:25px 0 0 0;}
.list-last-news2.opt2 .list-last-news2__item{ display:block; padding:14px 14px 10px 20px;}
.list-last-news2.opt2 .list-last-news2__img{ width:133px; height:133px; margin-top:5px;}
.list-last-news2.opt2 .list-last-news2__img img{ width:100%;}
.list-last-news2.opt2 .list-last-news2__info{ float:left; width:100%; margin-left:-133px; padding:0 0 0 161px; position:relative; z-index:1;}
.list-last-news2.opt2 .list-last-news2__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20; letter-spacing:-0.1px;}
.list-last-news2.opt2 .line-section-news__text{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:0px; padding:6px 0 0 0;}
.list-last-news2.opt2 .line-section-news__date{ display:block; }

.list-check-with-img{ padding:18px 0 0 0;}
.list-check-with-img__item{ list-style:none; padding:5px 0px 5px 0px; text-align:left;}
.list-check-with-img__item:last-child{ padding:5px 0px 0px 0px;}
.list-check-with-img__img{ display:inline-block; vertical-align:middle; cursor:pointer; padding-right:10px; width:30px;}
.list-check-with-img label{ cursor:pointer; width:100%; display:block;}
.list-check-with-img .name{ width:100%; display:inline-block; vertical-align:middle; margin-left:-50px; padding-left:60px; font:12px/18px Tahoma, Arial, sans-serif; color:#666666;}
.list-check-with-img__icon{ display:inline-block; vertical-align:middle; cursor:pointer; padding-right:10px; width:30px;}
.icon-season-1{ width:22px; height:22px; background-position:-219px -84px;}
.icon-season-2{ width:20px; height:22px; background-position:-241px -84px; margin-left:2px;}
.icon-season-3{ width:23px; height:22px; background-position:-262px -84px;}

.list-size-filter{ padding:25px 3px 0 0;}
.list-size-filter.top{ padding:10px 3px 0 0;}
.list-size-filter__item{ list-style:none; padding:3px 10px 4px 10px; background:#ffffff; font:12px/18px Tahoma, Arial, sans-serif; color:#666666; overflow:hidden;} 
.list-size-filter__item:nth-child(even){ background:#f9f9f9;}
.list-size-filter__item span{ float:left;}
.list-size-filter__item span+span{ float:right; color:#959595; font:11px/18px Tahoma, Arial, sans-serif;}
.filter-top3{ padding-top: 0px; text-align:left}

.filter_block_1.opt2{ padding: 21px 28px 27px 28px; text-align: left;}
.sub-title-filter{ font:bold 16px/18px Tahoma, Arial, sans-serif; color:#ffffff; padding:4px 0 0 0;} 
.sub-title-filter.top{ padding:15px 0 0 0;}

.list-checkbox.white{ padding:10px 0 0 0;}
.white .list-checkbox__item{ padding:6px 0px 6px; list-style:none;}
.white .list-checkbox__item:last-child{ padding:6px 0 0 0;}
.white .list-checkbox__name{ color:#ffffff; }
.white .list-checkbox__item.active label .list-checkbox__name{ color:#ffffff; font-weight:bold;}

.box-select-section{ display:inline-block; background:#15404e; width:100%; min-height:77px; padding:18px 20px 21px 29px; text-align:left;}
.list-select-section{ padding:0 0 0 0;}
.list-select-section__item{ list-style:none; color:#959595; font:11px/18px Tahoma, Arial, sans-serif; padding:7px 0px 6px 0px; overflow:hidden;}
.list-select-section__link{ font:bold 16px/20px Tahoma, Arial, sans-serif; color:#04cffd;}
.list-select-section__name{ float:left; margin-left:-28px; width:100%; padding:0 0 0 28px; }
.list-select-section__name-cont{ border-bottom:dotted 1px #04cffd; display:inline;}
.list-select-section__link:hover, .list-select-section__item.active .list-select-section__link{ color:#ffffff; }
.list-select-section__link:hover .list-select-section__name-cont, .list-select-section__item.active .list-select-section__name-cont{ border-bottom:dotted 1px #ffffff;}
.icon-section{ float:left; width:28px;}
.icon-section__icon1{ width:17px; height:15px; margin:3px 0 0 0; background-position:-0px -138px;}
.icon-section__icon2{ width:17px; height:20px; margin:0px 0 0 0; background-position:-18px -138px;}
.icon-section__icon3{ width:15px; height:17px; margin:2px 0 0 0; background-position:-36px -138px;}
.icon-section__icon4{ width:17px; height:20px; margin:0px 0 0 0; background-position:-52px -138px;}
.icon-section__icon5{ width:17px; height:20px; margin:0px 0 0 0; background-position:-70px -138px;}
.icon-section__icon6{ width:17px; height:20px; margin:0px 0 0 0; background-position:-88px -138px;}
.icon-section__icon7{ width:19px; height:19px; margin:1px 0 0 0; background-position:-106px -138px;}
.icon-section__icon8{ width:19px; height:19px; margin:1px 0 0 0; background-position:-126px -138px;}
.icon-section__icon9{ width:19px; height:19px; margin:1px 0 0 0; background-position:-146px -138px;}
.icon-section__icon10{ width:19px; height:19px; margin:1px 0 0 0; background-position:-166px -138px;}
.icon-section__icon11{ width:17px; height:20px; margin:0px 0 0 0; background-position:-187px -138px;}
.icon-section__icon12{ width:19px; height:19px; margin:1px 0 0 0; background-position:-206px -138px;}
.icon-section__icon13{ width:20px; height:21px; margin:0px 0 0 0; background-position:-227px -138px;}
.icon-section__icon14{ width:19px; height:19px; margin:1px 0 0 0; background-position:-249px -138px;}
.icon-section__icon15{ width:19px; height:20px; margin:1px 0 0 0; background-position:-270px -138px;}

.line-media{ padding:22px 0 0 0;}
.line-media img{ display:block; width:100%;}
.line-media__left{ width:100%; margin-right:-199px; padding:0 229px 0 0; float:left;}
.line-media__right{ width:199px; float:right; padding:0 0px 0 0;}
.line-media__left-cont{ width:100%;}
.line-media__info{ padding:24px 22px 35px 25px;  background:#f9f9f9;}
.line-media p{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:-0.1px;} 
.line-media .button-light-green{ margin-top:26px;}
.media-mini{ margin:0 0 16px 0; display:block; }
.line-media .media-mini:last-child{ margin:0 0 1px 0;}
.media-mini__img{ display:block; margin:0px 0 14px 0;} 
.media-mini__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20; display:block; letter-spacing:-0.1px;}

.line-reference{ padding:22px 0 0 0;}
.line-reference img{ display:block; width:100%;}
.line-reference p{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:-0.1px;} 
.line-reference__info{ padding:24px 22px 25px 25px;  background:#f9f9f9; margin-bottom:5px;}
.line-reference .button-light-green{ margin-top:4px;}
.reference-mini{ margin:0 0 0px 0; display:block; border-bottom:solid 1px #e3e3e3; padding-bottom:20px; margin-bottom:20px;}
.line-reference .reference-mini:last-child{ margin:0 0 0px 0;}
.reference-mini__img{ display:inline-block; vertical-align:middle; width:116px; position:relative; z-index:2;} 
.reference-mini__info{ position:relative; z-index:1; width:100%; margin-left:-121px; padding:0 0 3px 145px;  display:inline-block; vertical-align:middle;}
.line-reference .icons-comment-block{ padding:22px 0 0 0;}

.button-light-green.top3{ margin-top:20px;}

.info-video{ overflow:hidden;}
.info-video__video { display:block; height:260px; }
.info-video__video iframe{ width:100%; height:100%;}
.info-video .line-section-news{ padding:25px 0 1px 0; overflow:hidden; margin-right:-6px;}

.info-video__info { display:block; border-top:solid 1px #e3e3e3;}
.info-video__line-info{ border-bottom:solid 1px #e3e3e3; padding:12px 0px 13px 0px; overflow:hidden;}
.info-video__info p{ float:left; font:14px/18px Tahoma, Arial, sans-serif; color:#777777;}
.info-video__info p span{ font-weight:bold; color:#231f20; padding-left:3px;}
.info-video__link{ float:right; font:14px/16px Tahoma, Arial, sans-serif; color:#348097; border-bottom:solid 1px #348097;}
.info-video__link:hover{ border-bottom:solid 1px transparent;}

.info-video__line-link{ padding-top:22px; margin-left:-25px;}

.link-with-marker{ white-space:normal; display:inline-block; vertical-align:top; position:relative; font:14px/16px Tahoma, Arial, sans-serif; color:#00cefd; margin:5px 0 0 25px; letter-spacing:-0.1px;}
.link-with-marker span{ border-bottom:solid 1px #00cefd; display:inline-block;}
.link-with-marker:before{ display:inline-block; vertical-align:top; width:6px; height:6px; background:#348097; margin:6px 9px 0 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative; content:'';}
.link-with-marker:hover span{ border-bottom:solid 1px transparent;}
.info-video__info .button-light-green{ margin:30px 0 0 0;}

.list-video{ padding:21px 0 25px 0; margin-left:-1px;}
.list-video__item{ display:inline-block; vertical-align:top; margin:1px -5px 0 0px; width:25%; padding-left:1px; position:relative;}
.list-video img{ width:100%; display:block;}
.list-video__info{ position:absolute; left:0px; top:0px; background:rgba(255,255,255,0.75); width:100%; height:100%; display:none; z-index:2; padding:19px 10px 0 10px; text-align:center;}
.list-video__name{ font:bold 12px/18px Tahoma, Arial, sans-serif; color:#231f20;}
.list-video .icons-comment-block{ display:inline-block; margin-right:-7px; width:100%; padding-bottom:2px;}
.icon-comment_1-color2{background-position:-284px 0px!important; width:18px; height:17px;}
.icon-comment_2-color2{background-position:-307px 0px!important; width:18px; height:14px;}
.list-video__item:hover .list-video__info{ display:block;}

.list-reviews_top{ margin:22px 0 0 0;}
.logo-test{ display:inline-block; margin:0px 0 7px 0;}
.big-img-test{ display:block; width:100%;}
.big-img-test img{ width:100%;}

.box-open-news.for-test{ padding:24px 0 0 0;}
.box-open-news.for-test p{ color:#777777;}

.box-tabs-news.for-test{ margin:24px 0px 0px 0px;}

.btn8 .button-product__icon{ background-position:-213px -47px; width:22px; height:23px;}
.btn8.button-product_color .button-product__icon, .btn8:hover .button-product__icon{ background-position:-236px -47px;}

.btn9 .button-product__icon{ background-position:-260px -47px; width:25px; height:25px; margin-top:0px;}
.btn9.button-product_color .button-product__icon, .btn9:hover .button-product__icon{ background-position:-286px -47px;}

.list-tests{ padding:2px 0 0 0;}
.list-tests__item{ margin:20px 0 0 0; padding-bottom:10px; list-style:none;}
.list-tests__cont{ border:solid 1px #e3e3e3; border-top:none; overflow:hidden; border-bottom:none; border-bottom:solid 1px #e3e3e3; text-align:center;}
.list-tests__img{ border-right:solid 1px #e3e3e3; width:186px; float:left; position:relative; z-index:2; background:#ffffff;}
.list-tests__img img{ width:100%;}

.box-open-tests3__item{ padding:0px 0 0 0; padding-bottom:0px;  text-align:left;}
.box-open-tests3__title{ background:#15404e; position:relative; width:100%; padding:6px; z-index:2; text-align:left; overflow:hidden;}
.box-open-tests3__text{font:bold 16px/20px Tahoma, Arial, sans-serif; color:#ffffff; display:inline-block; vertical-align:top; margin-right:-88px; padding:5px 88px 0 13px; width:100%; z-index:1;}
.list-tests .button-light-green__narrow{ float:none; display:inline-block; vertical-align:top; width:83px; position:relative; z-index:2; margin:0px 0 0 0!important; white-space:nowrap; padding-left:0px; padding-right:0px; }

.list-tests__img .box-tests__item__place.big{ position:absolute; right:14px; top:14px; z-index:3; display:block;}

.list-tests .list-option-tests{ padding:0 0 0px 185px; position:relative; z-index:1; text-align:left; float:left; margin-left:-186px; width:100%;}
.list-tests .list-option-tests__item{ padding:15px 15px 15px 30px!important; border-bottom:solid 1px #e3e3e3; border-left:solid 1px #e3e3e3;}
.list-tests .list-option-tests__item:last-child{ border-bottom:none;}
.list-tests .list-option-tests__icon{ vertical-align:top; margin-right:-5px;}
.list-tests .list-option-tests__info{ padding:6px 0 0 43px; margin:0 0 0 -31px; display:inline-block; vertical-align:top; width:100%;}
.list-tests .list-option-tests__info.top1{ padding:0px 0 0 43px;}
.list-tests .list-option-tests__title{ font:14px/16px Tahoma, Arial, sans-serif; color:#777777; letter-spacing:-0.1px;}
.list-tests .list-option-tests__text{ font:14px/21px Tahoma, Arial, sans-serif; display:block; margin:0 0 0 0px; padding:12px 0 0px 0px;}
.list-tests .plus{ background:url(../img/plus.png) no-repeat left top; width:17px; height:17px; position:relative; display:inline-block; vertical-align:middle;}
.list-tests .minus{ background:url(../img/minus.png) no-repeat left top; width:17px; height:5px; position:relative; display:inline-block; vertical-align:middle; margin-bottom:4px;}
.list-tests .result{ background:url(../img/result.png) no-repeat left top; width:17px; height:11px; position:relative; display:inline-block; vertical-align:middle; margin-bottom:3px;}

.line-open-review{ overflow:hidden; padding-top:1px;}
.line-open-review .main-cont-border{ margin:20px 0 0 0; padding:24px 24px 30px 24px;}
.line-open-review__line-name{ background:#f9f9f9; min-height:169px; overflow:hidden;}
.line-open-review__img{ width:135px; height:169px; display:inline-block; vertical-align:middle;}
.line-open-review__info{ width:100%; text-align:left; display:inline-block; vertical-align:middle; margin-left:-140px; padding:0 20px 0 145px;}
.line-open-review__img img{ display:inline-block;}
.line-open-review__img-table{ width:135px; height:169px; display:table-cell; text-align:center; vertical-align:middle;}
.line-open-review__img-table.left-bottom{ text-align:left; vertical-align:middle;}
.line-open-review__icon{ display:inline-block; vertical-align:middle; margin:5px 0 0 12px;}
.line-open-review__img a{ display:inline-block; vertical-align:bottom;}
.line-open-review__title{ font:bold 14px/21px Tahoma, Arial, sans-serif; color:#231f20;}
.line-open-review__line-name .block-stars2{ padding:6px 0 7px 0;}
.line-open-review__text{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:24px 0 0 0; letter-spacing:-0.1px;}

.line-section-news.color{ background:#f9f9f9; padding:12px 8px 12px 14px; margin:21px 0 16px 0;}
.icons-comment-block__link.color2{ color:#348097;}
.icon-comment_4{ width:19px; height:17px; background-position:-210px -25px; margin-top:0px; margin-right:0px;}

.button-agree{ background:#8fd700; min-width:117px; height:30px; display:inline-block; vertical-align:top; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative; color:#ffffff; text-transform:uppercase; font:11px/18px Tahoma, Arial, sans-serif; margin:15px 0 0 0; padding:5px 15px 0 15px; white-space:nowrap; text-align:center;}
.button-agree:hover{ color:#ffffff; -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.button-icon{ display:inline-block; vertical-align:top; margin-right:9px;}
.button-icon_icon1{ background-position:-291px -138px; width:18px; height:15px; margin:3px 9px 0 0;}
.button-icon_icon2{ background-position:-312px -138px; width:16px; height:16px; margin:3px 9px 0 0;}
.button-dont-agree{ background:#ff2289;}
.line-open-review .button-agree{ margin-right:5px; }
.line-open-review .button-agree:last-child{ margin-right:0px;}

.list-last-reviews{ margin:20px 0 0 0; border-top:solid 1px #e3e3e3;}
.list-last-reviews__item{ border-bottom:solid 1px #e3e3e3; list-style:none; padding:9px 0px 10px 0px;}
.list-last-reviews .line-section-news{ padding:0px 0 0 0; }
.list-last-reviews .block-stars2{ padding:5px 10px 0px 0; display:inline-block; vertical-align:top;}
.list-last-reviews .icons-comment-block{ float:none; display:inline-block; vertical-align:top; margin:7px 0 1px 0;}
.icons-comment-block__link .number{ font-weight:bold;}

.line-last-date-cpmment{ background:#f9f9f9; overflow:hidden; margin:8px 0 0 0;} 
.line-last-date-cpmment p{ display:inline-block; vertical-align:middle; width:100%; margin-right:-101px; padding:4px 110px 4px 9px; font:12px/18px Tahoma, Arial, sans-serif; color:#555555;}
.font-bold-black{ font-weight:bold!important; color:#231f20!important;}
.line-last-date-cpmment .button-light-green__narrow{ width:96px; display:inline-block; vertical-align:middle; margin:0 0 0 0;}
.list-last-reviews__text{ font:12px/18px Tahoma, Arial, sans-serif; color:#777777; padding:11px 0 0 0;}

.line-open-review__info .icons-comment-block{ padding-top:10px;}

.icon-filter{ display:inline-block; vertical-align:middle; width:27px; height:27px;}
.icon-filter_icon1{ background-position:-0px -162px;}
.icon-filter_icon2{ background-position:-28px -162px;}
.icon-filter_icon3{ background-position:-56px -162px;}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

	.long-button-more span:before{ background-image:url(../img/sprite3@2x.png);}

}
@media screen and (max-width:1230px){
	.previously-ordered .link-on-map{ float:none; display:block;}
	.previously-ordered .sub-info-time{ float:none; margin:5px 0 0 0;}
}
@media screen and (max-width:1100px){
	.box-link-product{ float:none; display:block; padding-top:5px;}
	.previously-ordered__box-name{ float:none; display:block;}
	
	.one-phone{ float:none; display:block;}
	.info-object-list__item .one-phone+.one-phone{ float:none; display:block;}
	
	.list-car{ padding:0 0 0 0; margin:0 -10px 0 -10px;}
	.list-car__item{ padding:20px 10px 0px 10px; width:50%;}
	
	.line-section-news__left{ float:none; display:block;}
	.line-section-news .icons-comment-block{ float:none; padding:4px 0 0 0;}
	
	.box-tabs-news li{ width:36%; }
	.box-tabs-news li+li{ width:43%; }
	.box-tabs-news li+li+li{ width:21%; }
	
	.box-tabs-news.for-test li{ width:35%; }
	.box-tabs-news.for-test li+li{ width:30%; }
	.box-tabs-news.for-test li+li+li{ width:35%; }
	
	.table-leaders__col1{ width:35px; text-align:center;}
	.table-leaders__center-cols{ width:100%; float:left; margin-left:-35px; margin-right:-255px; padding:0 255px 0 35px;}
	
	.info-video__info p{ float:none; display:block;}
	.info-video__link{ float:none; display:inline-block; margin-top:5px;}
}
@media screen and (max-width:1050px){
	.table-basket__th{ font:bold 12px/16px Tahoma, Arial, sans-serif;}
	.table-basket__col7{ width:20px;}
	.table-basket__col1{ width:67px; padding-left:10px;}
	.table-basket__center-cols{ margin-left:-67px; margin-right:-24px; padding:0 24px 0 67px;}
	.field-number-product{ width:72px;}
	.table-basket__col2{ width:21%;}
	.table-basket__col3{ width:25.5%;}
	
	.table-your-order__td_col1{ width:75px;}
	.table-your-order__other-cols{ margin-left:-75px; padding:0 0 0 80px;}
	.table-your-order__td_col2{ width:45%;}
	.table-your-order__td_col3{ width:25.5%;}
	.table-your-order__td_col4{ width:10%;}
	.table-your-order__td_col5{ width:19.5%;}
	
	.table-leaders__col2{ width:35%; padding-left:5px;}
	.table-leaders__col3{ width:65%; text-align:left;}
	
	
}
@media screen and (min-width:992px) and (max-width:1090px){
	.box-popular-services__logo{ float:none; width:165px;}
	.box-popular-services__info{ float:none; width:100%; padding:8px 0 0 0px; margin-left:0px;}
	
	
}
@media screen and (min-width: 992px) and (max-width: 1150px){
	.similar-product{ padding:12px}
	.similar-product__img{ width:90px;}
	.similar-product__info{ margin-left:-90px; padding-left:90px;}
	.total-block-product__column{ width:45%;}
	.total-block-product .total-block-product__column+.total-block-product__column{ width:51%;}
	.similar-product__info-cont{ padding-left:15px;}
	
	.list-video__info{ padding:4px 5px 0 5px;}
	.list-video__name{ font:bold 12px/14px Tahoma, Arial, sans-serif; }
	.list-video__info .button-light-green{ margin-top:2px; height:27px; padding-top:5px;}
}
@media screen and (max-width:991px){
	.box-tabs-info-object .button-product__name{ padding:3px 0 0 0px;}
	.images-description{ margin:0 -10px 0 -10px;}
	.images-description__item{padding:10px 10px 0 10px; }
	
	.list-description{ float:none; padding:0 0 0 0; width:100%;}
	.description-dot{ padding:3px 0 0 0px; width:100%; float:none; margin-left:0px;}
	.description-dot__cont{ border-left:none; min-height:50px; padding:10px 0 0 0px; overflow:hidden;}
	
	.total-block-product__column{ float:none!important; width:100%!important;}
	.total-block-product .total-block-product__column+.total-block-product__column{ padding:20px 0 0 0;}
	
	.hide-tablet{ display:none;}
	.table-basket{ margin:20px 0 0 0; border-top:solid 1px #e3e3e3;}
	.table-basket__col2{ width:26%; padding-left:5px; }
	.table-basket__col4{ width:24%; float:none; }
	.table-basket__col5{ width:25%; float:none; }
	.table-basket__col6{ width:25%; float:none; }
	
	.text-right-to-tablet{ text-align:left;}
	.sub-form-order__color4{ margin-top:15px;}
	.sub-form-order__color5{ margin-top:15px;}
	
	.box-performer{ padding:21px 20px 20px 20px; text-align:center;}
	.box-performer__img{ float:none; display:inline-block; width:130px; height:130px;}
	.box-performer__img img{ display:block; width:100%;}
	.box-performer__info{ float:none; margin-left:0px; padding:0 0 0 0px; display:block;}
	
	.table-your-order__tr{ padding:12px 10px 12px 10px;}
	.table-your-order__td_col2{ width:50%;}
	.table-your-order__td_col3{ width:29.5%; display:none;}
	.table-your-order__td_col4{ width:16.5%;}
	.table-your-order__td_col5{ width:33.5%; text-align:right;}
	.table-basket__name{ display:inline-block;}
	.button-light-green.top2{ margin:15px 0 0 0;}
	
	.list-main-news__item{ width:100%; display:block; padding:20px 15px 0px 15px; margin-right:0px;} 
	.list-main-news__info{ padding:0 10px 0 135px;}
	
	.list-last-news2__item{ padding:10px 10px 10px 10px; }
	.line-section-news .delimiter{ display:none;}
	.top-on-tablet{ margin-top:14px;}
	.line-section-news__date{ display:block;}
	.list-last-news2__info{ padding:0 0 0 180px; }
	
	.box-open-news .box-info-network__line-img{ padding:0px 0 21px 0;}
	.line-video{ text-align:center; display:block; width:100%; padding:0px 0 18px 0;}
	
	.box-tabs-news .button-product__name{ padding:3px 0 0 0px;}
	
	.table-leaders__center-cols{ width:100%; float:left; margin-left:-35px; margin-right:0px; padding:0 6px 0 35px;}
	.table-leaders__col4{ width:100%; display:block; float:none; text-align:left; padding:6px 6px 2px 40px;}
	
	.title-with-filter.opt2 .sort_by.opt2{ margin:8px 0 0 0!important; letter-spacing:-0.1px; float:none; display:block;}
	.line-buttons-tabs{ padding:0px 0px 0 0; float:none; width:100%; margin:0 0px 0 0;}
	
	.line-media__left{ width:100%; margin-right:0px; padding:0 0px 0 0; float:none; display:block;}
	.line-media__right{ width:0px; float:none; display:block; padding:15px 0px 0 0; width:100%;}
	
	.line-reference__info{ padding:15px 15px 15px 15px;  background:#f9f9f9;}
	
	.info-video .line-section-news { padding-bottom:15px;}
	.info-video .line-section-news__left{ float:left;}
	.info-video .icons-comment-block{ float:right;}
	.list-video__item{ width:50%;}
	
	.list-tests__img{ float:none; width:100%; border-right:none; max-width:240px; display:inline-block;}
	.list-tests .list-option-tests{ padding:0 0 0px 0px; margin-left:0px; }
	.list-tests .list-option-tests__item{ padding:12px 10px 12px 10px!important; border-left:none;}
	.box-open-tests3__text{padding:2px 88px 0 0px!important;}
	
	.line-open-review .main-cont-border{padding:14px 14px 15px 14px;}
	.line-open-review__icon{ display:inline-block; vertical-align:middle; margin:10px 0 0 0px;}
}
@media screen and (min-width:768px) and (max-width:991px){
	.previously-ordered__item{ text-align:center;}
	.previously-ordered__logo{ float:none; width:100%; max-width:200px!important; display:inline-block;}
	.previously-ordered__info{ float:none; display:block; width:100%; padding:10px 0 0 0px; margin-left:0px; text-align:left;}
	.button-light-green__narrow{ padding-top:9px;}
	
}
@media screen and (min-width:768px) and (max-width:850px){
	.list-car__item{ width:100%;}
	.list-video__name{ font:bold 12px/14px Tahoma, Arial, sans-serif; }
	.list-video__info .button-light-green{ margin-top:2px; height:27px; padding-top:5px;}
	
}
@media screen and (max-width:850px){
	.table-basket__tr.head{ display:none;}
	.table-basket__col1{ width:120px; padding-left:18px;}
	.table-basket__img{ width:100px; height:100px; }
	.table-basket__img img{ width:100%; display:block;}
	.table-basket__center-cols{ float:left; margin-left:-120px; margin-right:-30px; padding:0 35px 0 135px; }
	.field-number-product{ height:auto; margin:5px 0 5px 0;}
	.table-basket__col2{ width:100%; float:none; display:block; margin-right:0px;}
	.table-basket__col4{ width:100%; float:none; display:block; margin-right:0px; padding-top:5px;}
	.table-basket__col5{ width:100%; float:none; display:block; margin-right:0px;}
	.table-basket__col6{ width:100%; float:none; display:block; margin-right:0px;}
	.table-basket__col7{ position:relative; width:30px;}
	.delete-product{ width:17px; height:17px; margin:40px 0 0 0; display:block;}
	
	.box-tabs-news .button-product__name{ font:bold 10px/16px Tahoma, Arial, sans-serif; padding:3px 0 0 0px;}
}
@media screen and (max-width:767px){
	.text-right-befor-mobile{ text-align:left;}
	.button-delivery-option{ margin-top:15px;}
	.main-cont-border{ border:solid 1px #e3e3e3; padding:19px 19px 13px 19px; }
	.box-tabs-info-object .button-product__name{ font:bold 10px/16px Tahoma, Arial, sans-serif; padding:3px 0 0 0px;}
	.images-description__item{ width:50%; margin:5px -5px 5px 0px;}
	
	.column-main-left{ float:none; width:100%; margin-right:0px; padding-right:0px; display:block;}
	.column-main-right{ float:none; width:100%;}
	
	.window-obfect-map{ width:300px; }
	.window-obfect-map__img{ float:none; display:inline-block;}
	.window-obfect-map__info{ width:100%; margin-left:0px; padding:10px 0 0 0px; float:none; display:block;}
	.button-light-green__narrow{ padding-top:9px;}
	
	.filter-top2{ padding-top: 20px; text-align:left;}
	
	.table-your-order__td_col1{ width:70px;}
	.table-your-order__other-cols{ margin-left:-70px; padding:0 0 0 75px;}
	.table-your-order__td_col2{ width:70%;}
	.table-your-order__td_col3{ display:none;}
	.table-your-order__td_col4{ display:none;}
	.table-your-order__td_col5{ width:30%;}
	
	.list-town_opt2{ width:50%; padding:3px 10px 0 0; margin-right:-5px;}
	.box-open-news__img{ float:none; display:block; margin:7px 0px 7px 0; width:100%; max-width:100%;}
	
	.box-tabs-news .button-product__name{ font:bold 10px/14px Tahoma, Arial, sans-serif; padding:4px 0 0 0px;}
	
	.line-media__info{ padding:20px 15px 20px 15px;}
	.line-section-news.color{ padding:12px 8px 12px 14px; margin:11px 0 0px 0;}
	.line-open-review__text{ padding:12px 0 0 0;}
	
	.box-select-section{ margin-top:10px;}
	.top-on-mobile{ margin-top:10px;}
	
	.list-last-news2__img{ float:none; display:block; width:100%; margin-bottom:10px; height:auto; margin-top:5px;}
	.list-last-news2__info{ float:left; width:100%; margin-left:0; padding:0 0 0 0; position:relative; z-index:1;}
	.list-last-news2__item{ float:left; margin-bottom:15px; margin-right:15px;}
	.hide-mobile-button{ display:none!important}
	
	.one-box-filter__drop{ display:none; }

}
@media screen and (max-width:600px){
	.box-tabs-info-object .button-product__name{ font:9px/14px Tahoma, Arial, sans-serif; padding:5px 0 0 0px;}
	.box-tabs-info-object li{width:26%; }
	.box-tabs-info-object li+li{width:20%; }
	.box-tabs-info-object li+li+li{width:22%; }
	.box-tabs-info-object li+li+li+li{width:32%; }
	
	.previously-ordered__item{ text-align:center;}
	.previously-ordered__logo{ float:none; width:100%; max-width:200px!important; display:inline-block;}
	.previously-ordered__info{ float:none; display:block; width:100%; padding:10px 0 0 0px; margin-left:0px; text-align:left;}
	
	.line-open-review__img{ width:100%; height:auto; display:table; vertical-align:middle; text-align:center;}
	.line-open-review__info{ width:100%; text-align:center; display:block; margin-left:0px; padding:10px 10px 10px 10px; }
	.line-open-review__img-table{ width:100%; height:auto; display:table-cell; text-align:center!important; }
	
	
}
@media screen and (max-width:500px){
	.list-car__item{ width:100%;}
	.line-video__video{  height:280px;}
	
	.box-tabs-news .button-product__name{ font:9px/13px Tahoma, Arial, sans-serif; padding:5px 0 0 0px;}
	.table-leaders__col4{ width:100%; display:block; float:none; text-align:left; padding:6px 4px 2px 4px;}
	.table-leaders .button-light-blue{ margin:0px -2px 0 0; }
}
@media screen and (max-width:450px){
	.box-tabs-info-object .button-product__name{ font:8px/14px Tahoma, Arial, sans-serif; padding:8px 0 0 0px;}
	.box-tabs-info-object li{width:26%; }
	.box-tabs-info-object li+li{width:19%; }
	.box-tabs-info-object li+li+li{width:21%; }
	.box-tabs-info-object li+li+li+li{width:34%; }
	
	.box-popular-services__logo{ float:none; width:165px;}
	.box-popular-services__info{ float:none; width:100%; padding:8px 0 0 0px; margin-left:0px;}
	
	.description-dot__icon{ display:none;}
	.description-dot__right{ float:none; margin-left:0px; padding:0 0 0 0px; width:100%; margin-top:5px;}
	
	.similar-product__img{ width:100%; float:none; display:block;}
	.similar-product__img img{ width:100%; display:block;}
	.similar-product__info{ margin-left:0px; padding:0 0 0 0px; float:none; display:block;}
	.similar-product__info-cont{ border-left:none; padding:15px 0 0 0px;}
	
	.table-basket__col1{ width:110px; padding-left:10px;}
	.table-basket__center-cols{ margin-left:-110px; margin-right:-25px; padding:0 30px 0 120px; }
	.table-basket__col7{ position:relative; width:25px;}
	.table-leaders .button-light-blue{ padding:7px 8px 0 8px;}
	.table-leaders .button-light-blue{ padding:7px 8px 0 8px;}
	
	.list-video__item{ width:100%;}
	.list-video__info{ padding:33px 10px 0 10px;}
	
}
@media screen and (max-width:350px){
	.images-description__item{ width:100%; }
}