/*bread_crumb*/
.bread_crumb{
	padding: 25px 0;
}
.bread_crumb .breadcrumb{
	background: none;
	margin-bottom: 0;
}
.bread_crumb .breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "›";
    padding: 0 5px;
}
.bread_crumb .breadcrumb a{
	color: #348097;
	font-size: 14px;
}


/*CONTENT_FILTER*/

.content_filter .container-fluid{
	background: #fff;
}
/*product*/
.title_filter_1 h3{
	font-size: 21px;
	color: #000;
	float: left;
	padding: 30px 0 30px 15px;
}
.sort_by{
	float: right;
	margin-top: 30px;
}
.sort_by span{
	color: #666666;
	font-size: 13px;
	margin-right: 5px;
}
.sort_by_list{
	display: inline-block;
	margin-right: 30px;
}
.sort_by_list>a{
	color: #04cffd;
	font-size: 12px;
	border-bottom: 1px dotted #04cffd;
}
.sort_by_list .caret{
	border-top: 3px solid #04cffd;
}
.kind{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.kind li{
	display: inline-block;
	margin-right: 10px;
}

.title_filter_2{
	text-align: left;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	padding: 5px 10px;
	margin-left: 15px;
	margin-bottom: 30px;
	position: relative;
}
.title_filter_2:before{
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 2px;
	right: -9px;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);

}
.title_filter_2 h4{
	color: #231f20;
	font-size: 12px;
	font-weight: bold;
}
.title_filter_2 h4 span{
	color: #888888;
	font-weight: normal;
}


/*product_example*/

.product_button{ position:absolute; right:-2px; top:50%; width:44px; height:29px; text-align:center; padding:7px 0 0 0; margin-top:-15px; z-index:1;}
.prev-product{ display:block; background:url(../img/prev_gallery.png) no-repeat left top; width:22px; height:29px; background-size:22px 29px;}
.next-product{ display:block; background:url(../img/next-gallery.png) no-repeat left top; width:22px; height:29px; background-size:22px 29px;}
.prev-product{border-radius: 12px 0 0 12px; -moz-border-radius: 12px 0 0 12px; -webkit-border-radius: 12px 0 0 12px; right:auto; left:-2px;}

.prise .ui-slider{
	height:5px;
	background:#e3e3e3;
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
	position:relative;
}

.prise .ui-slider-range{
   
    height:5px;
    background:#231f20;
    top: 0;
}
.prise .ui-slider-handle{
	position:absolute; top:-5px;
	display:block;
    background: rgba(0, 0, 0, 0) url("../img/ico_dragger.png") no-repeat scroll left center;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 17px;
    width: 17px;
	margin-left:-9px;
}
.ui-slider{ margin-top:10px!important;}
#slider input {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    padding: 0 10px;
    position: absolute;
    right: -60px;
    text-align: center;
    top: -13px;
    vertical-align: middle;
    width: 50px;
}


.product_example {
	position: relative;
}
.product_example >ul{
	font-size: 0;
	line-height: 0;
	margin: 0 -15px 0;
	text-align: center;
}
.product_example>ul>li{
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-size: 10px;
	line-height: normal;
	width: 270px;
	height: 348px;
	margin: 0 17px 30px;
	border: 1px solid #e3e3e3;
	padding: 3px;
	text-align: left;
}
.product_wrapper{
	width: 100%;
	background: #fff;
	padding: 15px;
	text-align: center;
	height: 100%;
}
.product_example li:hover {
	background: #15404e;
	padding: 3px 3px 0;
	border: 1px solid transparent;
}
.product_example .product_nav li:hover {
	background: transparent;
	padding: 0;
	border: none;
}
.product_title{
	border-bottom: 1px solid #e3e3e3;
	padding: 0 10px 10px 10px;
	height: 70px;
	line-height: 70px;
	margin-bottom: 25px;
}
.product_title h3{
	font-size: 12px;
	color: #888888;
	vertical-align: top;
	display: block;
	line-height: 21px;
	text-transform: uppercase;

}
.product_title span{
	color: #231f20;
	display: block;
	font-weight: bold;
	text-transform: none;
}
.product_title .subtitle{
	display: block;
	font-size: 12px;
	color: #231f20;
	font-weight: bold;
	vertical-align: top;
	line-height: 21px;
	text-transform: none;

}
.product_description{
	min-height: 190px;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	line-height: 190px;
}
.product_description img{
	vertical-align: bottom;
	max-width: 131px;
}
.description_text{
	width: 100px;
	display: inline-block;
	text-align: left;
	line-height: normal;
	float: right;
	margin-top: 15px;
}
.des_name{
	color: #231f20;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.des_season{
	font-size: 10px;
	color: #888888;
	text-transform: uppercase;
	background:  url('../img/season.png') 0 0 no-repeat;
	padding:  5px 0 3px 25px;
	margin-bottom:  10px;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-kthtml-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
	height: 20px;
}
.product_example li {}
.product_example li:hover .des_season {
	color: #ffba00;
	background-position: 0 -20px;
}
.product_example li:hover .des_have {
	color: #8fd700;
	background-position: 0 -20px;
}
.des_have{
	font-size: 10px;
	color: #888888;
	text-transform: uppercase;
	background:  rgba(0, 0, 0, 0) url("../img/des_have.png") no-repeat scroll 0 0;
	padding:  5px 0 3px 25px;
	margin-bottom:  10px;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-kthtml-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
	height: 20px;
}
.des_btn{
	margin: 0;
	width: 100%;
}
.des_prise{
	font-size: 14px;
	color: #231f20;
	border-top: 3px solid #ffba00;
	border-bottom: 3px solid #ffba00;
	border-right: 3px solid #ffba00;
	border-radius: 5px;
	padding: 5px 0;
	margin-bottom: 14px;
	position: relative;
	background:#FFF;
}
.des_prise:before{
	content: '';
	display: block;
	width: 30px;
	height: 28px;
	position: absolute;
	top: 2px;
	left: -14px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-top: 3px solid #ffba00;
	border-left: 3px solid #ffba00;
	border-radius: 5px;
	

}
.number_prise{
	font-size: 18px;
	font-weight: bold;
	margin-right: 5px;
}
.product_nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.product_nav li{
	display: inline-block;
}
.product_nav a{
	font-size: 10px;
	color: #888888;
	text-transform: uppercase;
	padding: 5px 0 5px 20px;
}
.product_nav a:hover{
	text-decoration: underline;
	background-color: transparent;
	padding: 5px 0 5px 20px;
}
.product_example li:hover .product_nav a:hover{
	text-decoration: underline;
	background-color: transparent;
	padding: 5px 0 5px 20px;
}
.nav_1{
	background:  url('../img/product_nav_1.png') left center no-repeat;
	margin-right:  5px;
}
.nav_2{
	background:  url('../img/product_nav_2.png') left center no-repeat;
	margin-right:  5px;
}
.nav_3{
	background:  url('../img/product_nav_3.png') left center no-repeat;
}

.product_example .interesting_information{
	padding: 3px;
	background: #15404e;
	border: 1px solid transparent;
}
.product_example .interesting_information:hover {
	padding: 3px;
}
.class_size .des_prise,
.class_size .des_prise:before{
	border-color: #9b5ebd;
}
.class_size .des_btn{
	min-height: 54px;
	line-height: 21px;
	background: #ffba00;
}
.class_size .description_text{
	margin-top: -10px;
}

.type_none .des_prise,
.type_none .des_prise:before{
	border-color: #bebebe !important;
	color: #bebebe;
	text-transform: uppercase;
	font-size: 11px;
	padding: 10px 0;
	font-weight: bold;
}
.product_example .type_hot{
	background: #f51036;
	position: relative;
	padding: 3px;
	border: 1px solid transparent;
}
.product_example .type_hot:before{
	content:'';
	display: block;
	width: 60px;
	height: 60px;
	background:  url('../img/type_hot.png')  no-repeat;
	position: absolute;
	top: 100px;
	left: 20px;
	z-index: 300;
}
.season_winter .des_season {
	background:  url('../img/season_winter.png')  left top no-repeat;
}
.season_winter:hover .des_season{ background-position:left -22px!important} 
.product_example .interesting_information.info_bg_type_1{
	background: #15404e;
}
.product_example .interesting_information.info_bg_type_1 .product_wrapper{
	background: transparent;
}
.info_bg_type_1 p{
	color: #d5eaf1;
}
.info_bg_type_2 p{
	color: #ddf4fc;
}
.info_bg_type_2 .slider_title {
	color: #fff;
}
.info_bg_type_1 .slider_title {
	color: #fff;
}
.info_bg_type_2 a.read_more {
	color: #fff;
}
.info_bg_type_2{
	background: #348097 !important;
}
.info_bg_type_2 .product_wrapper{
	background: #348097 !important;

}
.product_example .bestseller{
	background: #ffba00;
	position: relative;
	padding: 3px;
	border: 1px solid transparent;
}
.product_example .bestseller:before{
	content:'Хит продаж';
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	text-transform: uppercase;
	z-index: 300;
	font-size: 10px;
	color: #fff;
	background: #ffba00;
	padding: 3px;
}
.interesting_information .product_wrapper{
	padding: 27px 20px 0 27px;
	position: relative;
}
.product_slider{
	position: relative;
	overflow: hidden;
	z-index: 100;
	color: #000;
	text-align: left;
	width: 100%;
	height: 300px;
}

.sliderNav {
	padding-left:25px;
	position:absolute;
	z-index: 2000;
	bottom:0px;
	margin:10px 0;
	left:0;
}
.sliderNav a {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	line-height: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right:5px;
	background: #ccc;
}
.sliderNav a.selected {
	background: orange;
}


.product_slider .slide {
	position: relative;
	float: left;
	width: 100%;
}
.slider_title {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
/*.product_example .caroufredsel_wrapper {
	height: 100%!important;
}*/
.product_slider p{
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 30px;
}
a.read_more{
	color: #04cffd;
	font-size: 14px;
	text-decoration: underline;
}
a.read_more:hover{ text-decoration:none;}
/*hover*/
.hover_description{
	padding-top: 0;
	background: #fff;
	position: absolute;
	z-index: 1000;
	left: -1px;
	top: 100%;
	text-align: left;
	display: none;
	width: 270px;
	border-left: 4px solid #15404e;
	border-right: 4px solid #15404e;
}
.hover_description_wrapper {
	padding: 30px;
	background: #15404e;
}
.hover_description .rating {}
.hover_description .rating .block-stars {
    float: none;
    margin-bottom: 10px;
    color: #fff;
}
.hover_description .rating .block-stars .number-raiting {
    color: #fff;
    width: auto;
    margin: 0 0 0 5px;
}
.hover_description p{
	font-size: 12px;
	color: #fff;
	line-height: 18px;
}
.type_description{
	margin-bottom: 10px;
}
.type_description h5{
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	margin-right: 5px;
}
.type_description span{
	color: #a1c1cd;
	font-size: 12px;
	line-height: 18px;
}

.product_example>ul>li:hover .hover_description{
	display: block;
}



/*FILTER*/
.filter{
	padding-top: 30px;
	padding-right: 0;
	position: relative;
	overflow: hidden;
}
/*filter_block_1*/
.filter_block_1{
	background: #15404e;
	padding: 30px;
	text-align: left;
	margin-bottom: 10px;
}
.filter_title{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: -10px;
}
.filter_block_1_list{
	margin-bottom: 20px;
}
.filter_block_1_list .btn.dropdown-toggle.btn-default{
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    color: #04cffd;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    text-transform: none;
    width: auto;
}
.filter_block_1_list .btn.dropdown-toggle.btn-default .filter-option {
    border-bottom: 1px dotted #04cffd;
    display: block;
    line-height: 20px;
}
.filter_block_1_list .bootstrap-select.btn-group .dropdown-toggle .caret {
    margin-top: 0;
    position: absolute;
    right: -13px;
    top: 50%;
    vertical-align: middle;
}
.filter_block_1_list .btn-group.open .dropdown-toggle {
	box-shadow: 0 0 0;
}
.filter_block_1_list .bootstrap-select .dropdown-toggle:focus {
	outline: none!important;
}
.filter_block_1_btn, .filter_block_1_btn:active, .filter_block_1_btn:focus,
.filter_block_2_btn, .filter_block_2_btn:active, .filter_block_2_btn:focus{
	display: inline-block;
	border: 1px solid #67818a;
	background: none;
	font-size: 10px;
	color: #fff;
	width: 90px;
	margin: 0;
	padding: 8px 8px 5px 31px;
}
.filter_block_1_btn, .filter_block_1_btn:active, .filter_block_1_btn:focus{
	margin-right: 5px;
	background:  url('../img/filter_block_1_img_1.png') 5px center no-repeat;
}
.filter_block_2_btn, .filter_block_2_btn:active, .filter_block_2_btn:focus{
 	margin-left: 5px;
 	background:  url('../img/filter_block_1_img_2.png') 5px center no-repeat;

 }
.filter_block_1_btn:hover,
.filter_block_2_btn:hover{
	background:  url('../img/filter_block_1_img_1.png') 5px center no-repeat #348097;
	color: #fff;
	border-color: #348097;
}
.filter_block_2_btn:hover{
 	background:  url('../img/filter_block_1_img_2.png') 5px center no-repeat #348097;
}
.m-tab {
	display: none;
}
.m-tab.m-active {
	display: block;
}
 /*filter_block_2*/
 .filter_block_2{
	background: #15404e;
	padding: 30px;
	text-align: left;
	margin-bottom: 10px;
}
.block_2_line .tab__link.m-active {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-transform: none;
	border-bottom: none;
}
.block_2_line .tab__link:active {
	text-decoration: none;
}
.block_2_line .tab__link:focus {
	text-decoration: none;
}
.block_2_line .tab__link {
    border-bottom: 1px dotted #04cffd;
	margin-right: 10px;
    color: #04cffd;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px
}
.filter_block_2 .filter_block_1_list{
	display: inline-block;
}
.block_2_line{
	margin-bottom: 5px;
}
.block_2_line > span{
	font-size: 12px;
	color: #fff;
	width: 60px;
	display: inline-block;
}
.block_2_line .sizes{
	display: inline-block;
}
.block_2_line button{
	width: 100px;
	height: 25px;
	margin: 0;
	background: #fff;
	color: #000;
	padding-right: 15px;
	font-size: 10px;
	position: relative;
}
.block_2_line .caret{
	position: absolute;
	right: 5px;
	top: 10px;
}


/*filter_block_3*/
.filter_block_3{
	border-left: 3px solid #15404e;
	text-align: right;
	background: #f9f9f9;
}
.prise{
	border-bottom: 1px solid #e3e3e3;
	padding: 25px;
}
.filter_block_3_title{
	color: #231f20;
	font-size: 16px;
	text-transform: none;
}
.size{
	border-bottom: 1px solid #e3e3e3;
	padding: 25px;
	text-align: left;
}

.enter_size{
	margin-top: -10px;
	background: #8fd700;
	text-align: left;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	padding: 0 10px;
	margin-bottom: 20px;
}
.enter_size span,
.other_size span{
	float: right;
	font-size: 10px;
	color: #fff;
}
.other_size span{
	color: #959595;
}
.other_size{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 12px;
	color: #666666;
	line-height: 25px;
	padding: 0 10px;
	margin-bottom: 10px;
}
.other_size li {
    color: #666666;
    margin: 0 -10px;
    padding: 0 10px;
}
.other_size li:nth-child(2n){
	background: #ffffff;
}
.size_more{
	color: #04cffd;
	font-size: 12px;
	border-bottom: 1px dotted #04cffd;
	display: inline-block;
	margin-bottom: 10px;
}

/*collapse-group*/
.panel-heading {
	padding: 0;
}
.panel-heading a {
	padding: 17px 25px;
}
#collapse-group{
	text-align: left;
}
#collapse-group .panel-default:first-child{
	border: none;
}
#collapse-group .panel-default{
	border: none;
	border-top: 1px solid #e3e3e3;
	margin-top: 0;
	border-radius: 0;
}
.panel-body {
	padding: 15px 25px;
}
.brend a,
.seasonality a,
.type_car a,
.type_main a{
	font-size: 16px;
	color: #231f20;
	line-height: 21px;
	font-weight: bold;
	display: block;
	position: relative;
}
.brend a.collapsed:after,
.seasonality a.collapsed:after,
.type_car a.collapsed:after,
.type_main a.collapsed:after{
	content: "";
	background: url("../img/ico_toggle_arrwos.png") no-repeat 0 0 transparent;
	width: 13px;
	height: 8px;
	position: absolute;
	right: 25px;
	top: 50%;
	margin-top: -4px;
}
.panel-title a:after {
	content: "";
	background: url("../img/ico_toggle_arrwos.png") no-repeat 0 -8px transparent;
	width: 13px;
	height: 8px;
	position: absolute;
	right: 25px;
	top: 50%;
	margin-top: -4px;
}
.brend .brend_other{
	font-size: 12px;
	color: #00cefd;
	font-weight: normal;
	line-height: 30px;
}
.brend li{
	display: inline-block;
	width: 48%;
}
.brend input[type="checkbox"]{
	display: none;
}
.brend label{
	cursor: pointer;
	color: #666666;
	line-height: 30px;
	font-size: 12px;
	font-weight: normal;
	background:  url('../img/brend_check_1.png') left center no-repeat;
	padding:  0 0 0 22px;
}
.brend input[type="checkbox"]:checked + label{
	background:  url('../img/brend_check_2.png') left center no-repeat;
	color: #15404e;
	font-weight: bold;
}
#slider {
	margin: 0 60px 0 0;
	position: relative;
}
#slider .slider {
	width: 100%;
	min-width: 150px;
	margin: 0!important;
	padding: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}
#slider .slider .track {
	background: #e3e3e3;
	box-shadow: 0 0 0;
	height: 5px;
	border-radius: 0;
	border: none;
}
#slider .slider .highlight-track {
	background: #231f20;
	border-radius: 0;
	border: none;
	height: 5px;
	box-shadow: 0 0 0;
}
#slider .slider .dragger {
	background:  url('../img/ico_dragger.png') left center no-repeat;
	width: 17px;
	height: 17px;
	border: none;
	box-shadow: 0 0 0;
	border-radius: 0;
}
#slider .output {
	font-size: 12px;
	line-height: 28px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: absolute;
	right: -60px;
	top: -5px;
	vertical-align: middle;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	padding: 0 10px;
	width: 50px;
	text-align: center;
}
.block_2_line .dropdown .btn-group.bootstrap-select {
	width: 100px;
}

.read_more{ position:absolute; left:20; bottom:40px;}
@media screen and (max-width: 980px){
	.sort_by {
		margin-top: 0;
		text-align: center;
	}
	.title_filter_1 h3 {
		text-align: center;
		float: none;
		padding: 20px 0 10px;
	}
	.kind {
		margin: 10px 0;
	}
	.title_filter_2 {
		border: 1px solid #e3e3e3;
		margin: 0 0 15px;
	}
	.title_filter_2:before {
		display: none;
	}
	
	.breadcrumb {
		text-align: center;
	}
}
@media screen and (max-width: 680px){
	.hover_description {
		display: block;
		position: static;
		border: none;
		width: auto;
	}
	.caroufredsel_wrapper > ul {
		list-style-type: none;
		margin: 0;
	}
	.caroufredsel_wrapper > ul > li {
		float: left;
		width: 270px;
		height: auto;
		font-size: 10px;
		border: 1px solid #e3e3e3;
		padding: 3px;
		text-align: left;
		margin: 0 10px;
	}
	.interesting_information .product_wrapper {
		padding-bottom: 40px;
	}
	.interesting_information .product_wrapper .slide a {
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}
	.product_slider p {
		margin-bottom: 12px;
	}
}