.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide{position:relative;overflow:hidden;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.slick-arrow{position:absolute;top:50%;margin-top:-24px;z-index:20;cursor:pointer;font-size:0;outline:none;height:49px;width:21px;border:none;box-sizing:border-box;}
.slick-arrow:hover{opacity:0.8;}
.slick-prev{left:26px;background:url(../img/img2017/slide-arr.png) no-repeat 0 0;}
.slick-next{right:26px;background:url(../img/img2017/slide-arr.png) no-repeat 0 0;-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.products-row{position:relative;padding-left:15px;}
.products-row:after{display:block;clear:both;content:'';}
.product-row{position:relative;margin-bottom:30px;}
.product-row:after{display:block;clear:both;content:'';}
.product-row .product{display:block;position:relative;vertical-align:top;font-size:10px;line-height:normal;width:262px;height:290px;margin:0 0px 0px;border:1px solid #e3e3e3;padding:0px;text-align:left;}
.product-left{float:left;}
.product-right{float:right;}
.product-row .product .product_title{padding:14px 0px 10px 0px;margin-bottom:10px;height:72px;}
.product-row .product .product_title h3{font-size:14px;text-transform:none;letter-spacing:0.5px;}
.product-row .product .product_title .subtitle{font-size:14px;}
.product-row .product .product_description img{vertical-align:top;margin-top:11px;margin-left:-15px;}
.product-row .product .product_wrapper{padding:0;}
.product-row .product .product_description{padding:0 15px;min-height:157px;line-height:157px;}
.product-row .product .product_nav{margin-bottom:21px;}
.product-row .product .product_nav ul{}
.product-row .product .product_nav ul li{display:block;margin-bottom:15px;}
.product-row .product .product_nav a{padding:5px 0 5px 24px;}
.product-row .product .des_prise{border-top:3px solid #8c5bbb;border-bottom:3px solid #8c5bbb;border-right:3px solid #8c5bbb;margin:10px 11px 0 -25px;}
.product-row .product .des_prise:before{background:url(../img/mark_prise_color.png) left center no-repeat;}
.product-row .product .des_prise .des-prise-span{position:relative;z-index:10;margin-left:-10px;}
.product-row .product .des_prise .number_prise{margin:0;font-size:16px;}
.product-row .product .description_text{margin-right:0px;width:88px;}
.product-row .product .block-stars{float:none;width:auto;text-align:center;}
.product-row .product .block-stars .number-raiting{color:#231f20;}
.product-row .product .block-stars .icon{margin:0 -1px;}
.product-des{display:block;overflow:hidden;position:relative;vertical-align:top;font-size:10px;line-height:normal;height:290px;margin:0 0px 0px;border:1px solid #e3e3e3;border-left:0;border-right:0;padding:14px 20px;text-align:left;}
.product-row .product-des .product_title{text-align:left;border-bottom:none;padding:0;height:51px;margin:0;}
.product-row .product-des .product_title h3{font-size:14px;letter-spacing:0.5px;}
.product-des .des{font-size:12px;line-height:20px;color:#888888;height:158px;overflow:hidden;}
.product-des .des-bottom{overflow:hidden;position:absolute;bottom:17px;width:100%;left:0;right:0;padding:0 20px;}
.product-des .des-bottom .btn{float:right;width:92px;height:34px;line-height:21px;margin-top:4px;}
.product-des .des-bottom .price{float:left;}
.product-des .des-bottom .price .price-top{font-size:14px;color:#272425;margin-bottom:2px;display:block;}
.product-des .des-bottom .price .des_prise{border:none;padding:0;height:auto;margin:0;}
.product-des .des-bottom .price .des_prise:before{display:none;}
.product-des .des-bottom .price .des_prise .number_prise{font-size:16px;}
.product-des .des-bottom .price .des_prise span{}
.product-des .season{font-size:10px;margin-right:-1px;color:#888888;vertical-align:top;line-height:21px;text-transform:uppercase;float:right;}
.product-des .season .name{width:18px;height:18px;background:url(../img/season_winter.png) no-repeat 0 0;display:inline-block;vertical-align:top;margin:1px 8px 0 0;}
.product-row .product .product_description-hidden{position:relative;min-height:206px;margin:0;line-height:206px;}
.product-row .product .product_description-hidden img{margin:0;vertical-align:middle;}
.product-row .product .product_description-hidden:before{display:block;width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(255,255,255,0.9);content:'';}
.popular-info{position:relative;padding:5px 0px 0 16px;}
.popular-info:after{display:block;clear:both;content:'';}
.popular-info h2{padding:0;margin-bottom:26px;}
.slider-size-block{position:relative;margin-bottom:41px;}
.slider-size-block:after{display:block;clear:both;content:'';}
.slider-size-block .slick-slide{width:190px;}
.slider-size{position:relative;padding:0 59px;}
.slider-size:after{display:block;clear:both;content:'';}
.size-wheel{width:178px;height:274px;padding:16px 0 0 0;margin:0 auto;border:1px solid #e2e2e2;text-align:center;}
.size-wheel h2{font-size:30px;line-height:32px;color:#272425;font-weight:bold;text-align:center;margin-bottom:13px;}
.size-wheel h3{font-size:14px;line-height:16px;color:#767676;margin-bottom:16px;}
.size-wheel .size-wh{margin:0;padding:0;margin-bottom:21px;}
.size-wheel .size-wh li{margin-bottom:6px;list-style:none;}
.size-wheel .size-wh li a{font-size:15px;color:#74cdfd;text-decoration:underline;}
.size-wheel .size-wh li a:hover{text-decoration:none;}
.size-wheel .button-light-blue{display:inline-block;background:#527f97;width:136px;height:35px;font-size:12px;line-height:18px;letter-spacing:0.5px;}
.wheel-blocks{position:relative;overflow:hidden;text-align:center;margin-bottom:35px;}
.wheel-blocks .wheel-block{width:270px;min-height:294px;position:relative;margin-left:30px;display:block;float:left;padding-top:31px;line-height:294px;text-align:center;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.wheel-blocks .wheel-block:hover{box-shadow:inset 0 0 10px 0 #2b424f;-moz-box-shadow:inset 0 0 10px 0 #2b424f;-webkit-box-shadow:inset 0 0 10px 0 #2b424f;}
.wheel-blocks .wheel-block:nth-child(3n+1){margin-left:0;}
.wheel-blocks .wheel-block h3{font-size:16px;color:#ffffff;font-weight:bold;text-transform:uppercase;}
.wheel-blocks .wheel-block img{vertical-align:middle;}
.wheel-block-color1{background:#8ed902;}
.wheel-block-color2{background:#03cdff;}
.wheel-block-color3{background:#ffbc01;}
.models-wheels{position:relative;margin-bottom:35px;}
.models-wheels:after{display:block;clear:both;content:'';}
.models-wheels h2{margin-bottom:31px;}
.models-wheel{position:relative;}
.models-wheel:after{display:block;clear:both;content:'';}
.model-wheel{float:left;border:1px solid #e2e2e2;width:268px;height:320px;margin-left:32px;padding:27px 18px 0;position:relative;text-align:center;}
.model-wheel:nth-child(3n+1){margin-left:0;}
.model-wheel h3{font-size:15px;color:#272425;font-weight:bold;margin-bottom:18px;}
.model-wheel h3 a{text-decoration:none;color:#272425;font-weight:bold;font-size:15px;}
.model-wheel h3 a:hover{text-decoration:underline;}
.model-wheel .rating{background:#f9f9f9;padding:14px;}
.model-wheel .rating .rating-title{font-size:12px;color:#565656;margin-bottom:8px;}
.model-wheel .rating .block-stars{float:none;margin:0 auto;}
.model-wheel .rating .block-stars .stars{}
.model-wheel .rating .block-stars .stars .icon{}
.model-wheel .rating .block-stars .stars .number-raiting{}
.model-wheel .drop{width:40px;height:40px;position:absolute;top:-16px;left:-16px;font-size:18px;color:#ffffff;font-weight:bold;text-align:center;line-height:40px;}
.model-wheel .model-wheel-img{position:absolute;left:0;right:0;bottom:0;width:100%;text-align:center;}
.model-wheel .model-wheel-img img{}
.drop1{background:url(../img/img2017/drop1.png) no-repeat 0 0;}
.drop2{background:url(../img/img2017/drop2.png) no-repeat 0 0;}
.drop3{background:url(../img/img2017/drop3.png) no-repeat 0 0;}
.popular-searches{position:relative;margin-right:6px;margin-bottom:40px;}
.popular-searches:after{display:block;clear:both;content:'';}
.popular-searches h2{margin-bottom:20px;}
.popular-search{border:1px solid #e2e2e2;padding:25px 0px 18px 30px;}
.popular-search-list{padding:0;margin:0;-moz-column-count:2;-webkit-column-count:2;column-count:2;-webkit-column-gap:72px;-moz-column-gap:72px;column-gap:72px;}
.popular-search-list li{list-style:none;background:url(../img/img2017/list-arr.png) no-repeat left center;padding-left:33px;margin-bottom:10px;}
.popular-search-list li a{font-size:15px;color:#272425;text-decoration:none;}
.popular-search-list li a:hover{text-decoration:underline;}
.search-wheel-blocks{position:relative;margin-bottom:35px;}
.search-wheel-blocks:after{display:block;clear:both;content:'';}
.search-wheel-b{float:left;border:1px solid #e2e2e2;padding:20px 18px 20px 18px;margin-left:30px;height:290px;width:420px;text-align:center;}
.search-wheel-b:nth-child(2n+1){margin-left:0px;}
.search-wheel-b h2{text-align:center;margin-bottom:20px;line-height:32px;}
.search-wheel-in{background:#f9f9f9;padding:23px 17px 24px 20px;height:165px;}
.search-wheel-img{height:126px;line-height:126px;}
.search-wheel-form .form-row{position:relative;}
.search-wheel-form .form-row:after{display:block;clear:both;columns:'';}
.search-wheel-form .form-col{width:106px;float:left;text-align:left;margin-left:11px;}
.search-wheel-form .form-col:nth-child(3n+1){margin-left:0;}
.search-wheel-form .form-col label{font-size:15px;color:#272425;font-weight:bold;display:block;margin-bottom:8px;}
.search-wheel-form .form-col .field-input{text-align:center;width:100%;}
.search-wheel-form .form-col .field-input input{height:44px;}
.search-wheel-form .button-light-blue{background:#527f97;letter-spacing:0.5px;margin-top:11px;font-size:12px;width:106px;height:39px;}
.wheels-information{position:relative;margin-right:6px;margin-bottom:35px;}
.wheels-information:after{display:block;clear:both;content:'';}
.wheels-information h2{margin-bottom:21px;}
.wheels-information .wheels-info{border:1px solid #e2e2e2;padding:24px 30px 27px 30px;font-size:14px;color:#767676;line-height:21px;}
.wheels-information .wheels-info a{display:inline-block;margin-top:18px;font-size:14px;color:#73ccfd;margin-left:19px;position:relative;text-decoration:none;border-bottom:1px dashed #73ccfd;}
.wheels-information .wheels-info a:before{position:absolute;content:'';top:8px;left:-19px;width:9px;height:5px;background:url(../img/img2017/arr-more.png) no-repeat 0 0;}
.wheels-information .wheels-info a.open:before{-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.wheels-information .wheels-info a:hover{border-color:#2a6496;color:#2a6496;}
.wheels-info-text{height:126px;overflow:hidden;}
.wheels-info-text.open{height:auto;}
.news-block{position:relative;margin-bottom:32px;}
.news-block:after{display:block;clear:both;content:'';}
.news-block h2{margin-bottom:21px;}
.news-block .border-top-color{border:1px solid #e2e2e2;padding:10px 13px 20px 14px;margin-right:6px;}
.news-block .list-main-news{padding:0;margin:0;}
.news-block .list-main-news__info{padding-left:142px;}
.news-block .list-main-news__text{padding:14px 0 0 0;}
.news-block .list-main-news .button-light-green__narrow{margin:15px 0 0 0;}
.filter-w{position:relative;padding-top:32px;margin-bottom:40px;}
.filter-w:after{display:block;clear:both;content:'';}
.fw{height:200px;border:1px solid #e2e2e2;margin-bottom:10px;line-height:166px;background:#f9f9f9;position:relative;text-align:center;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.fw:hover{box-shadow:inset 0 0 10px 0 2b424f;-moz-box-shadow:inset 0 0 10px 0 #2b424f;-webkit-box-shadow:inset 0 0 10px 0 #2b424f;}
.fw img{vertical-align:middle;}
.fw .name{font-size:13px;color:#272425;font-weight:bold;position:absolute;bottom:18px;left:0;right:0;width:100%;line-height:1;text-transform:uppercase;}
.cover-link{position:absolute;top:0;left:0;width:100%;height:100%;}
.filter-w2 .fw{background:#fff;}
.prise .ui-slider-handle{outline:none;cursor:pointer;}
.view-more:hover{border-color:#2a6496;}
.search-cat-block{position:relative;border:2px solid #2a4250;padding:26px 28px 20px 28px;margin-bottom:30px;margin-left:15px;margin-right:7px;}
.search-cat-block .button-light-green{display:block;margin:0 auto;width:92px;text-transform:uppercase;font-size:12px;height:34px;letter-spacing:0.5px;}
.search-cat-block:after{display:block;clear:both;content:'';}
.search-cat-block-in{position:relative;border-bottom:1px solid #e2e2e2;padding-bottom:16px;margin-bottom:18px;}
.search-cat-block-in:after{display:block;clear:both;content:'';}
.search-b1{float:left;width:67%;}
.search-b2{float:left;width:33%;padding:18px 0 0 11px;}
.search-block-select{position:relative;margin-bottom:23px;}
.search-block-select:after{display:block;clear:both;content:'';}
.search-block-select .sel-col{float:left;width:22%;margin-left:3.4%;}
.search-block-select .sel-col:nth-child(4n+1){margin-left:0;}
.search-block-select .sel-col label{display:block;font-size:16px;color:#272425;font-weight:bold;font-family:tahoma;margin-bottom:8px;}
.search-block-select .sel-col select{opacity:0;height:34px;}
.search-block-select .sel-col .sel-line{position:relative;}
.search-block-select .sel-col .sel-line .jq-selectbox__select{height:34px;padding:7px 10px 7px 10px;background:#f3f7f9;}
.search-block-select .sel-col .sel-line .jq-selectbox__trigger{top:2px;right:2px;}
.search-block-select .sel-col .sel-line .jq-selectbox__trigger-arrow{border-top:4px solid #000;}
.choice-b{float:left;width:35.5%;}
.choice-b .list-check-with-img{padding:2px 0 0 0;}
.choice-b .list-check-with-img .list-check-with-img__item{}
.choice-b .list-check-with-img .list-check-with-img__item .styled{}
.choice-b .list-check-with-img .list-check-with-img__item .list-check-with-img__icon{padding-left:9px;}
.choice-b .list-check-with-img .list-check-with-img__item .icon3{}
.choice-b .list-check-with-img .list-check-with-img__item .name{margin-left:-59px;font-size:14px;}
.choice-b .jq-radio{width:19px;height:19px;background:url(../img/img2017/radio100.png) no-repeat 0 0;}
.choice-b .jq-radiochecked{background:url(../img/img2017/radio100.png) no-repeat 0 19px;}
.choice-b .styled{height:19px;}
.choice-b input[type="radio"]{width:19px;height:19px;opacity:0;vertical-align:top;display:inline-block;}
.choice-b2{float:left;width:64%;}
.choice-b2 input[type="checkbox"]{width:19px;height:19px;opacity:0;vertical-align:top;display:inline-block;}
.choice-b2 .list-checkbox{padding:0;}
.choice-b2 .jq-checkbox{width:19px;height:19px;background:url(../img/img2017/check100.png) no-repeat 0 0;}
.choice-b2 .jq-checkbox.checked{background:url(../img/img2017/check101.png) no-repeat 0 0;}
.choice-b2 .list-checkbox__item{margin-bottom:4px;margin-right:-3px;padding-right:0px;}
.choice-b2 .styled{height:19px;float:left;}
.choice-b2 .list-checkbox__name{padding-left:50px;display:block;font-size:14px;}
.choice-b2 .list-checkbox .link-other-item{margin:0px 0 0 0px;}
.form-filter select{opacity:0;height:30px;}
.search-b2 .choice-b2{width:100%;float:none;}
.search-filter-1{position:relative;text-align:center;padding:33px 30px 38px 30px;margin-top:32px;}
.search-filter-1 .filter_title{color:#fff;font-size:22px;margin-bottom:20px;text-align:center;line-height:30px;font-weight:bold;text-transform:uppercase;}
.form-filter{position:relative;}
.form-filter:after{display:block;clear:both;content:'';}
.form-filter .form-row{position:relative;margin-bottom:8px;}
.form-filter .form-row:after{display:block;clear:both;content:'';}
.form-filter label{display:block;float:left;color:#fff;font-size:11px;width:72px;text-align:left;line-height:30px;}
.form-filter .sel-line{display:block;float:left;width:65%;text-align:left;}
.form-filter .sel-line .jq-selectbox__select{height:30px;border:none;box-shadow:none;padding:6px 10px 6px 10px;font-size:11px;text-transform:uppercase;background:#afbbbf;}
.form-filter .sel-line .jq-selectbox__select:hover{background:#fff;}
.form-filter .sel-line .jq-selectbox__trigger{top:2px;right:2px;}
.form-filter .sel-line .jq-selectbox__trigger-arrow{border-top:4px solid #000;}
.form-filter .button-light-green{width:93px;margin-top:25px;height:35px;font-size:12px;margin-left:22px;}
.application-block{position:relative;margin-bottom:20px;margin-top:28px;padding:24px 28px 12px 28px;border:2px solid #2a4250;}
.application-block:after{display:block;clear:both;content:'';}
.application-block-title{position:relative;text-align:center;overflow:hidden;padding-bottom:28px;margin-bottom:27px;border-bottom:2px solid #2a4250;}
.application-block-title h2{color:#272425;font-size:18px;font-weight:bold;text-transform:uppercase;text-align:center;padding:0 0 11px 0;}
.application-block-title h3{color:#767676;font-size:14px;font-weight:400;text-align:center;}
.application-div{position:relative;margin-bottom:27px;}
.application-div:after{display:block;clear:both;content:'';}
.title-line{position:relative;overflow:hidden;margin-bottom:16px;}
.title-line h3{color:#272425;font-size:16px;font-weight:bold;background:#fff;display:inline-block;padding-right:10px;z-index:10;position:relative;}
.title-line:after{width:100%;height:1px;content:'';background:#e2e2e2;display:block;position:absolute;bottom:2px;left:0;}
.application-div .form-row{position:relative;margin-bottom:11px;}
.application-div .form-row:after{display:block;clear:both;content:'';}
.application-div .form-row label{display:block;font-size:13px;color:#272425;font-weight:bold;margin-bottom:8px;}
.application-div .form-row label span{color:#d50831;}
.application-div .form-col{width:30.6%;margin-left:4%;float:left;}
.application-div .form-col2{width:60%;}
.application-div .form-col:nth-child(3n+1){margin-left:0;}
.application-div .form-col .field-input{}
.application-div .form-col .field-input input{height:34px;line-height:30px;}
.application-div .form-col .sel-line{}
.application-div .form-col .sel-line .jq-selectbox__select{height:34px;padding:6px 10px 6px 10px;font-size:11px;text-transform:uppercase;background:#f3f8f9;}
.application-div .form-col .sel-line .jq-selectbox__select:hover{background:#fff;}
.application-div .form-col .sel-line .jq-selectbox__trigger{top:2px;right:2px;}
.application-div .form-col .sel-line .jq-selectbox__trigger-arrow{border-top:4px solid #000;}
.application-div .list-checkbox{float:left;width:100%;padding:22px 0 0 0;}
.application-div .list-checkbox .list-checkbox__item{width:33.3%;}
.application-div .list-checkbox .list-checkbox__item label{}
.application-div .list-checkbox .list-checkbox__item .styled{float:left;display:block;}
.application-div .list-checkbox .list-checkbox__item .list-checkbox__name{display:block;padding:2px 0 0 51px;color:#666666;font-size:14px;font-weight:400;}
.application-div .jq-radio{width:19px;height:19px;background:url(../img/img2017/radio100.png) no-repeat 0 0;}
.application-div .jq-radio.checked{background:url(../img/img2017/radio100.png) no-repeat 0 -19px;}
.application-div .jq-checkbox{width:19px;height:19px;background:url(../img/img2017/check100.png) no-repeat 0 0;}
.application-div .jq-checkbox.checked{background:url(../img/img2017/check101.png) no-repeat 0 0;}
.textarea{resize:none;width:100%;height:28px;border:solid 1px #e3e3e3;font:300 12px/18px Tahoma, Arial, sans-serif;color:#555555;padding:3px 8px 3px 8px;background:#ffffff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;position:relative;-moz-box-shadow:inset 0 1px 0px 0 #ededed;-webkit-box-shadow:inset 0 1px 0px 0 #ededed;box-shadow:inset 0 1px 0px 0 #ededed;}
.application-div .textarea{height:64px;}
.application-div .summ-block{position:relative;overflow:hidden;padding-top:16px;margin-bottom:29px;}
.application-div .summ-block-left{float:left;width:63%;padding-right:10%;}
.application-div .summ-block .list-checkbox{padding:0;margin-top:-6px;}
.application-div .summ-block .list-checkbox .list-checkbox__item{width:100%;position:relative;margin-bottom:2px;}
.application-div .summ-block .list-checkbox .list-checkbox__item .styled{}
.application-div .summ-block .list-checkbox .list-checkbox__item .list-checkbox__name{}
.application-div .summ-block .list-checkbox .list-checkbox__item .list-checkbox__name span{color:#272425;font-weight:bold;font-size:14px;}
.application-div .summ-block .list-checkbox .list-checkbox__item .price{font-size:14px;color:#666666;font-weight:400;position:absolute;top:11px;right:0;}
.application-div .summ-block-right{border-left:1px solid #e2e2e2;width:34.7%;padding-left:4%;float:right;}
.application-div .summ-block-right label{color:#272425;font-size:16px;font-weight:bold;margin-bottom:5px;}
.application-div .summ-block-right .price-row{position:relative;overflow:hidden;}
.application-div .summ-block-right .field-number-product{float:left;display:block;margin-right:20px;width:92px;}
.application-div .summ-block-right .price-row .price{float:left;color:#272425;font-size:16px;font-weight:bold;line-height:50px;}
.button-light-black{background:#272425;color:#fff;font-size:12px;text-transform:uppercase;text-align:center;display:block;width:100%;margin-top:0px;}
.application-bottom{border-top:1px solid #e2e2e2;font-size:14px;color:#666666;font-weight:400;text-align:center;padding:16px 0;}
.application-bottom span{color:#d50831;}
.application-block select{opacity:0;height:34px;}
.application-block input[type="radio"], .application-block input[type="checkbox"],.application-block2 input[type="radio"], .application-block2 input[type="checkbox"]{opacity:0;width:19px;height:19px;}
.application-block2{padding:28px 0px 12px 0px;border:2px solid #2a4250;}
.application-block2 .application-block-title{position:relative;overflow:hidden;border:none;padding-bottom:0px;margin-bottom:28px;}
.application-block2 .application-block-title h2{text-align:center;color:#272425;font-size:32px;padding-bottom:21px;font-weight:bold;text-transform:uppercase;}
.application-block2 .application-block-title h3{color:#807e7e;font-size:14px;font-weight:400;text-transform:uppercase;}
.application-gray-block{background:#f9f9f9;padding:24px 10px 10px 27px;}
.application-gray-block .price-line-block{overflow:hidden;font-weight:400;margin-bottom:15px;}
.application-gray-block .price-line-block label{color:#666666;font-size:14px;line-height:18px;font-weight:400;display:block;float:left;width:183px;}
.application-gray-block .price-line-block .price{display:block;float:left;color:#666666;font-size:16px;}
.application-gray-block .price-line-block2{overflow:hidden;font-weight:bold;}
.application-gray-block .price-line-block2 label{color:#272425;font-size:18px;line-height:46px;display:block;float:left;width:180px;}
.application-gray-block .price-line-block2 .price{display:block;float:left;color:#eeba2c;font-size:36px;}
.application-block2 .application-div{padding:20px 0px;margin:0 28px;border-bottom:1px solid #eeeeee;}
.application-block2 .application-div label{display:block;float:left;font-size:14px;line-height:20px;font-weight:400;color:#272425;width:180px;}
.application-block2 .application-div .application-div-cont{overflow:hidden;}
.application-block2 .application-div .application-div-cont .list-checkbox .list-checkbox__item label{width:100%;}
.application-block2 .application-div .summ-block{padding:0;margin:0;}
.application-block2 .application-div .field-number-product{margin:0;height:30px;}
.application-block2 .application-div .quantity{font-size:14px;color:#666666;}
.application-block2 .application-div .application-div-cont .price{font-size:18px;color:#272425;font-weight:bold;}
.application-block2 .application-bottom-links{padding:30px 0 30px 28px;overflow:hidden;}
.application-block2 .application-bottom-links a{display:block;float:left;width:200px;line-height:24px;height:40px;margin:0;margin-right:21px;}
.application-block2 .application-bottom-links .button-light-orange{background:#eeba2b;}
.sidebar-left{float:right;width:269px;margin-right:-269px;}
.content-right{overflow:hidden;float:right;width:100%;padding-left:299px;}
.sidebar-left .filter_block_3{border-left:none;border-right:3px solid #15404e;background:transparent;}
.sidebar-left .filter_block_3 .one-box-filter{border-bottom:none;margin-bottom:10px;background:#f9f9f9;}
.top-block-links{overflow:hidden;text-align:right;margin-bottom:20px;padding-top:15px;}
.top-block-links a{margin-left:15px;margin-top:0;padding:8px 15px 0 15px;}
.top-block-links .button-light-pink{float:right;background:#dc2785;padding:8px 41px 0 41px;}
.content-right .birga-block{padding:25px 29px 23px 29px;margin:0 0 0 0;}
.birga-block h2{padding:0 0 14px 0;}
.birga-top-text{font-size:14px;color:#555555;margin-bottom:26px;}
.birga-top-text b{font-weight:bold;text-transform:uppercase;}
.birga-top-text a{font-weight:bold;text-decoration:none;text-transform:uppercase;}
.birga-top-text a span{text-transform:none;}
.birga-block .search-cat-block{z-index:10;padding:17px 17px 21px 17px;margin:0 0 40px 0;}
.birga-block .search-block-select{margin:0;}
.birga-block .search-block-select .select-divs .sel-col{margin-right:2.6%;margin-left:0;}
.birga-block .search-block-select .sel-col label{font-size:13px;}
.birga-block .search-block-select .input-divs .sel-col .field-input input{height:34px;}
.birga-block .search-block-select .select-divs .sel-col1{width:36.3%;}
.birga-block .search-block-select .select-divs .sel-col2{width:26%;}
.birga-block .search-block-select .select-divs .sel-col3{width:31.4%;}
.birga-block .search-block-select .input-divs .sel-col4{width:22%;}
.birga-block .search-block-select .sel-col .sel-line{}
.birga-block .search-block-select .sel-col .button-light-green{margin-top:21px;}
.birga-block .search-block-select .select-divs .sel-col:last-child{margin:0;}
.birga-block .search-block-select .select-divs .sel-col:nth-child(4n+1){margin-left:0%;}
.select-divs{float:left;width:53%;margin-right:5px;}
.input-divs{float:left;width:46%}
.order-block{position:relative;overflow:hidden;margin-bottom:13px;}
.order-block h2{font-size:18px;text-transform:uppercase;float:left;padding:6px 0 23px 0;}
.order-block .ul-block{float:right;border:1px solid #e2e2e2;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.order-block .ul-block li{float:left;border-left:1px solid #e2e2e2;list-style:none;}
.order-block .ul-block li:first-child{border-left:none;}
.order-block .ul-block li a{display:block;width:32px;height:32px;line-height:32px;text-align:center;font-size:14px;color:#272425;text-decoration:none;}
.order-block .ul-block li.current a, .order-block .ul-block li:hover a{background:#f5f5f5;}
.order-divs{position:relative;overflow:hidden;clear:both;}
.order-line{border:1px solid #e2e2e2;overflow:hidden;clear:both;position:relative;margin-bottom:20px;min-height:210px;}
.order-line-img{width:181px;min-height:208px;line-height:208px;float:left;text-align:center;position:relative;overflow:hidden;}
.order-line-img .drop{background:url(../img/img2017/drop4.png) no-repeat 0 0;width:40px;height:40px;position:absolute;top:16px;left:16px;font-size:18px;color:#ffffff;font-weight:bold;text-align:center;line-height:40px;}
.order-line-img img{vertical-align:middle;}
.order-line-cont{overflow:hidden;padding:22px 0 16px 0;padding-right:208px;padding-left:24px;border-left:1px solid #e2e2e2;}
.order-info{font-size:13px;color:#272425;font-weight:bold;margin-bottom:11px;}
.order-title{font-size:14px;color:#272425;text-transform:uppercase;font-weight:bold;display:block;margin-bottom:13px;text-decoration:none;}
.option-div{overflow:hidden;}
.option-line{overflow:hidden;margin-bottom:10px;font-size:13px;color:#272425;font-weight:bold;}
.option-line a{color:#547f95;text-decoration:none;display:inline-block;border-bottom:2px solid #547f95;}
.option-line a:hover{border-color:transparent;}
.option-line span{display:inline-block;margin-right:4px;font-size:13px;color:#808080;font-weight:400;}
.order-line .order-price-block{width:182px;padding:0 25px 0 25px;border-left:1px solid #e2e2e2;height:161px;position:absolute;top:50%;right:0;margin-top:-82px;}
.order-line .order-price-block .price-block{overflow:hidden;}
.order-line .order-price-block .price-block span{display:block;font-size:14px;margin-bottom:9px;color:#272425;}
.order-line .order-price-block .price-block .price{font-size:22px;color:#272425;font-weight:bold;}
.order-line .order-price-block .price-block .price span{font-size:14px;color:#272425;font-weight:400;display:inline-block;}
.order-line .order-price-block .button-light-orange{background:#eeba2b;position:absolute;left:25px;bottom:0;margin:0;width:131px;height:40px;line-height:22px;font-size:13px;}
.works-block{overflow:hidden;}
.works-block h2{padding-bottom:9px;}
.works-block .list-numbers-text{}
.works-block .list-numbers-text p{margin-bottom:20px;}
.works-block .list-numbers-text .list-numbers-text__item{padding:5px 10px 23px 59px;}
.works-block .list-numbers-text .list-numbers-text__item:before{height:40px;width:40px;border-radius:50%;-moz-border-radius:50%:-webkit-border-radius:50%;line-height:40px;padding-top:0;}
.works-block .list-text{padding:0;margin:-12px 0 14px 0;}
.works-block .list-text li{padding:5px 0 0px 21px;}
@media screen and (max-width:1230px){.wheel-blocks .wheel-block{margin-left:1%;width:32%;}
.model-wheel{margin-left:1%;margin-bottom:1%;width:49%;}
.model-wheel:nth-child(3n+1){margin-left:1%;}
.model-wheel:nth-child(2n+1){margin-left:0;}
.title_filter_2{border-right:1px solid #e3e3e3;}
.title_filter_2:before{display:none;}
.select-divs{width:100%;margin:0 0 20px 0;}
.input-divs{width:100%;}
.birga-block .search-block-select .input-divs .sel-col4{margin-left:0%;margin-right:1.3%;width:24%;}
.birga-block .search-block-select .input-divs .sel-col4:last-child{margin:0;}
.birga-block .search-block-select .select-divs .sel-col{margin-right:1.3%;}
.birga-block .search-block-select .sel-col .button-light-green{width:auto;}
.birga-block .search-block-select .select-divs .sel-col{width:32.3%;}
.birga-top-text{line-height:20px;}
.order-line{min-height:auto;padding-bottom:10px;}
.order-line .order-price-block{position:relative;float:right;width:301px;padding:0 20px;top:auto;right:auto;margin:0;height:auto;border:none;overflow:hidden;}
.order-line .order-price-block .button-light-orange{position:relative;left:auto;float:left;margin-top:6px;}
.order-line .order-price-block .price-block{float:left;margin-right:20px;}
.order-line-cont{padding-right:10px;}
}
@media screen and (max-width:1200px){.product-row .product{width:50%;margin-bottom:-1px;}
.product-row .product.product-left{border-right:none;}
.product-row .product .product_wrapper{margin:0;}
.product-des{border:1px solid #e3e3e3;height:auto;padding-bottom:64px;}
.product-des .des{height:auto;}
.search-wheel-b{width:100%;margin-left:0px;margin-bottom:1%;}
.search-wheel-form .form-col{width:32%;margin-left:1%;}
.search-b1{width:100%;}
.search-b2{width:100%;padding:20px 0 0 0;}
.choice-b{width:170px;}
.choice-b2 .list-checkbox__item{width:33%;}
.search-b2 .choice-b2 .list-checkbox__item{width:24%;}
.application-div .summ-block-left{padding-right:2%;width:70%;}
.application-div .summ-block-right{width:30%;}
.application-div .summ-block-right .price-row .price{line-height:1;}
.application-div .summ-block-right .price-row{margin-bottom:10px;}
}
@media screen and (max-width:1050px){.wheel-blocks .wheel-block{margin-left:0%;width:100%;margin-bottom:1%;float:none;}
.application-div .summ-block-left{padding-right:0%;width:100%;float:none;margin-bottom:20px;overflow:hidden;}
.application-div .summ-block-right{width:100%;padding:0;border:none;}
.application-div .summ-block-right .price-row .price{line-height:40px;}
.application-div .summ-block-right .price-row{margin-bottom:10px;}
.application-div .form-col{width:100%;margin-left:0;margin-bottom:11px;}
.order-line-img{float:none;width:100%;}
.order-line-cont{border:none;}
}
@media screen and (max-width:991px){.model-wheel{margin-left:0%;margin-bottom:1%;width:100%;}
.model-wheel:nth-child(3n+1){margin-left:0%;}
.model-wheel:nth-child(2n+1){margin-left:0;}
.popular-search{padding:25px 30px 18px 30px;}
.popular-search-list{-moz-column-count:1;-webkit-column-count:1;column-count:1;-webkit-column-gap:0px;-moz-column-gap:0px;column-gap:0px;}
.products-row{padding:0;}
.choice-b2 .list-checkbox__item{width:50%;}
.choice-b2{padding-top:20px;}
.search-b2 .choice-b2 .list-checkbox__item{width:33%;}
.application-block2 .application-bottom-links a{float:none;margin-bottom:20px;}
.application-block2 .application-div label{float:none;margin-bottom:20px;}
.application-block2 .application-div .application-div-cont .list-checkbox .list-checkbox__item label{margin-bottom:0;}
.application-block2 .application-bottom-links{padding:30px 0 0px 28px;}
}
@media screen and (max-width:850px){.product-des{width:100%;clear:both;margin:0 auto 0px;}
.application-div .summ-block .list-checkbox .list-checkbox__item .price{display:none;}
}
@media screen and (max-width:767px){.wheel-blocks .wheel-block{margin-left:1%;float:left;clear:none;width:32%;}
.model-wheel{margin-left:1%;margin-bottom:1%;width:49%;}
.model-wheel:nth-child(3n+1){margin-left:1%;}
.model-wheel:nth-child(2n+1){margin-left:0;}
.popular-info{padding:0;}
.news-block .border-top-color{margin:0;}
.wheels-information{margin-right:0;}
.popular-searches{margin:0;}
.model-wheel .drop{top:-10px;left:-10px;}
.search-cat-block{margin:0 0 30px 0;}
.form-filter label{clear:both;float:none;width:100%;}
.form-filter .sel-line{width:100%;}
.form-filter .button-light-green{margin-left:0;}
.content-right{width:100%;float:none;padding-left:0;}
.sidebar-left{width:100%;float:none;clear:both;margin-right:0;}
}
@media screen and (max-width:650px){.wheel-blocks .wheel-block{margin-left:0%;width:100%;margin-bottom:10px;float:none;}
.model-wheel{margin-left:0%;margin-bottom:10px;width:100%;}
.model-wheel:nth-child(3n+1){margin-left:0%;}
.model-wheel:nth-child(2n+1){margin-left:0;}
.search-wheel-b h2{font-size:14px;}
.search-wheel-b{padding:10px;}
.popular-info h2{font-size:15px;text-align:center;}
.application-gray-block .price-line-block label{width:100%;float:none;margin-bottom:20px;}
.application-gray-block .price-line-block2 label{width:100%;float:none;margin-bottom:20px;line-height:20px;}
.application-gray-block .price-line-block{margin-bottom:20px;}
.application-gray-block{padding:24px 10px 24px 27px;}
.application-block2 .application-bottom-links{padding:30px 28px 0px 28px;}
}
@media screen and (max-width:450px){.slider-size{padding:0 20px;}
.search-wheel-form .form-col{width:100%;margin-left:0%;margin-bottom:1%;}
.search-wheel-b{height:auto;}
.search-wheel-in{height:auto;}
.product-row .product{width:100%;clear:both;margin:0 auto -1px;}
.product-row .product.product-left{float:none;border:1px solid #e3e3e3;margin:0 auto -1px;}
.product-row .product.product-right{float:none;border:1px solid #e3e3e3;margin:0 auto -1px;}
.search-wheel-img{overflow:hidden;}
.search-wheel-img img{width:100%;}
.news-block .list-main-news__info{display:block;width:100%;padding:10px;margin:0;}
.list-main-news__img{width:100%;}
.list-main-news__item{padding:0;margin-bottom:10px;}
.wheels-information .wheels-info{padding:10px;}
.wheel-blocks .wheel-block{line-height:250px;min-height:250px;}
.sort_by{width:100%;}
.sort_by span{clear:both;float:left;display:block;margin-left:10px;margin-top:2px;margin-bottom:15px;}
.sort_by_list{float:right;display:block;margin-right:10px;}
.kind{float:right;margin:0;margin-right:10px;display:block;}
.search-block-select .sel-col{width:100%;margin-bottom:20px;margin-left:0;}
.choice-b2 .list-checkbox__item{width:100%;}
.search-b2 .choice-b2 .list-checkbox__item{width:100%;}
.search-b2{padding:0;}
.choice-b2{padding:0 0 6px 0;}
.search-block-select{margin-bottom:0;}
.choice-b{width:100%;margin-bottom:20px;}
.application-div .list-checkbox .list-checkbox__item{width:100%;}
.application-block2 .application-block-title h2{line-height:34px;}
.application-block2 .application-bottom-links a{width:100%;}
.birga-block .search-block-select .select-divs .sel-col{width:100%;float:none;margin:0 0 10px 0;}
.birga-block .search-block-select .input-divs .sel-col4{width:100%;margin:0 0 10px 0;}
.order-block .ul-block{width:166px;float:none;overflow:hidden;margin-bottom:20px;}
.order-block h2{float:none;margin-bottom:0px;padding-bottom:10px;}
.option-line span{display:block;margin-bottom:10px;}
.order-line .order-price-block{float:none;}
.order-line .order-price-block .price-block{float:none;margin-right:0;}
.order-line .order-price-block .button-light-orange{float:none;}
.order-title{line-height:20px;}
.content-right .birga-block{padding:10px;}
.top-block-links .button-light-pink{padding:8px 15px 0 15px;}
.works-block .list-numbers-text .list-numbers-text__item{padding-left:46px;padding-right:0;}
.order-line-cont{padding-left:10px;}
.order-line .order-price-block{padding:0 10px;}
}
.basket-right{overflow:hidden;}
.basket-right h2{padding-bottom:2px;}
.basket-right .main-cont-border{padding:27px 29px 23px 29px;}
.basket-tovar{position:relative;overflow:hidden;margin-bottom:37px;}
.basket-tovar .photo-card-product__big{overflow:hidden;float:left;margin-top:2px;text-align:center;width:270px;height:294px;line-height:294px;position:relative;border:1px solid #e3e3e3;margin-right:29px;}
.basket-tovar .photo-card-product__big img{vertical-align:middle;}
.basket-tovar .photo-card-product__big__loupe{bottom:19px;right:18px;}
.basket-tovar-cont{overflow:hidden;}
.basket-tovar .order-info{font-size:13px;color:#231f20;font-size:bold;margin-bottom:10px;}
.basket-tovar .order-title{display:block;font-size:18px;color:#231f20;text-transform:uppercase;font-weight:bold;}
.basket-tovar .basket-tovar-info{overflow:hidden;font-size:14px;color:#808080;line-height:20px;font-weight:400;padding-bottom:25px;border-bottom:1px solid #e3e3e3;padding-right:8px;margin-bottom:20px;}
.basket-tovar .order-block-table{padding-top:21px;width:100%;}
.basket-tovar .order-block-table{width:100%;border-collapse:collapse;display:table;}
.basket-tovar .order-block-table .table-line{width:100%;display:table-row;}
.basket-tovar .order-block-table .th{font-size:14px;display:table-cell;vertical-align:middle;color:#808080;font-weight:400;width:32%;text-align:left;padding-bottom:8px;padding-top:8px;}
.basket-tovar .order-block-table .td{font-size:14px;display:table-cell;vertical-align:middle;color:#231f20;font-weight:bold;width:60%;text-align:left;padding-bottom:8px;padding-top:8px;}
.basket-tovar .order-block-table .td .ok-block{font-size:14px;color:#8fd700;font-weight:bold;padding-left:18px;position:relative;}
.basket-tovar .order-block-table .ok-block:after{display:block;content:'';width:10px;height:6px;background:#fff;position:absolute;top:3px;left:0;border-bottom:3px solid #8fd700;border-left:3px solid #8fd700;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);}
.basket-tovar .order-block-table .td .price{font-size:22px;color:#ffbb00;font-weight:bold;white-space:nowrap;}
.basket-content{position:relative;}
.basket-content .box-tabs-info-object{position:relative;margin:0 0 14px 0;}
.basket-content .box-tabs-info-object li{width:33.34%}
.basket-content .box-tabs-info-object .button-product .button-product__name{}
.basket-content .box-tabs-info-object .button-product .icon2{background:url(../img/img2017/sprite10.png) no-repeat;}
.basket-content .box-tabs-info-object .button-product span{-moz-transition:all 0s linear;-o-transition:all 0s linear;-ms-transition:all 0s linear;-webkit-transition:all 0s linear;transition:all 0s linear;}
.basket-content .box-tabs-info-object .button-product.btn2 .icon2{background-position:0 0;width:23px;height:25px;}
.basket-content .box-tabs-info-object .button-product.btn2:hover .icon2, .basket-content .box-tabs-info-object .button-product.btn2.button-product_color .icon2{background-position:-26px 0;}
.basket-content .box-tabs-info-object .button-product.btn3 .icon2{background-position:0 -26px;width:29px;height:25px;}
.basket-content .box-tabs-info-object .button-product.btn3:hover .icon2,.basket-content .box-tabs-info-object .button-product.btn3.button-product_color .icon2{background-position:-32px -26px;}
.basket-content .box-tabs-info-object .button-product.btn4 .icon2{background-position:0 -52px;width:27px;height:25px;}
.basket-content .box-tabs-info-object .button-product.btn4:hover .icon2,.basket-content .box-tabs-info-object .button-product.btn4.button-product_color .icon2{background-position:-28px -51px;}
.basket-content .box-tabs-info-object .button-product.btn5 .icon2{background-position:0 -77px;width:27px;height:25px;}
.basket-content .box-tabs-info-object .button-product.btn5:hover .icon2,.basket-content .box-tabs-info-object .button-product.btn5.button-product_color .icon2{background-position:-27px -76px;}
.current-order-blocks{position:relative;overflow:hidden;}
.current-order-cont{position:relative;overflow:hidden;width:100%;clear:both;}
.current-order{float:left;width:52%;padding-right:3%;}
.current-order h2{font-size:18px;color:#231f20;font-weight:bold;margin-bottom:20px;}
.current-order .ok-block{font-size:16px;color:#8fd700;font-weight:bold;padding-left:23px;position:relative;margin-bottom:38px;}
.current-order .ok-block:after{display:block;content:'';width:15px;height:6px;background:#fff;position:absolute;top:4px;left:0;border-bottom:3px solid #8fd700;border-left:3px solid #8fd700;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);}
.current-order .option-block{border-top:1px solid #e3e3e3;padding-top:34px;margin-bottom:38px;}
.current-order .option-block h3{font-size:16px;line-height:24px;color:#231f20;font-weight:bold;margin-bottom:24px;}
.current-order .option-block .button-light-orange{background:#ffbb00;margin:0;}
.current-order .option-block .button-light-green{margin:0;height:34px;padding:9px 22px 10px 24px;font-size:12px;letter-spacing:0.5px;}
.current-status{float:right;width:48%;position:relative;overflow:hidden;}
.current-status h2{font-size:18px;color:#231f20;font-weight:bold;margin-bottom:22px;}
.current-status-cont{border:1px solid #e3e3e3;}
.current-status .status{overflow:hidden;padding:17px 17px 21px 18px;font-size:14px;color:#231f20;font-weight:400;}
.current-status .status+.status{border-top:1px solid #e3e3e3;}
.current-status .status p{margin:0;}
.current-status .status .status-top{overflow:hidden;margin-bottom:16px;}
.current-status .status .status-top .status-name{display:block;float:left;font-size:13px;color:#9b5ebd;text-align:left;font-weight:bold;text-decoration:none;}
.current-status .status .status-top .date{float:right;font-size:13px;color:#808080;font-weight:400;text-align:right;margin-right:2px;}
.current-order-blocks .sub-form-order{padding:0;}
.current-order-blocks .sub-form-order .sub-form-order__color4{margin-top:0;}
.current-order-blocks .sub-form-order .button-light-orange{background:#ffbb00;height:34px;margin-top:28px;padding-left:27px;font-size:12px;letter-spacing:0.5px;}
.current-order-blocks .sub-form-order .field-input textarea{height:118px;}
.current-order .button-light-pink{background:#ff2289;margin:2px 0 38px 0;font-size:12px;padding:11px 33px 8px 33px;height:41px;line-height:19px;letter-spacing:0.5px;}
.option-block-line{overflow:hidden;}
.option-block-line .field-input{margin:0;float:left;width:61%;}
.option-block-line .field-input input{height:34px;width:100%;}
.option-block-line .field-input2{margin:0;float:left;width:37%;}
.current-order .option-block-line .button-light-green{margin:0;float:right;line-height:33px;}
.yous-data{position:relative;overflow:hidden;text-align:center;border-bottom:1px solid #e3e3e3;margin-bottom:0px;padding-top:2px;padding-bottom:38px;}
.yous-data-text{text-align:center;font-size:16px;color:#231f20;font-weight:bold;overflow:hidden;margin-bottom:28px;}
.yous-data .button-light-green{display:block;margin:0 auto 18px;width:130px;height:41px;font-size:12px;letter-spacing:0.5px;line-height:25px;}
.yous-data .commission{text-align:center;font-size:14px;color:#231f20;font-weight:bold;}
.yous-data .commission span{color:#808080;font-weight:400;}
.price-list-block{position:relative;overflow:hidden;margin-bottom:32px;margin-top:34px;}
.price-list-block h2{color:#231f20;font-size:18px;font-weight:bold;margin-bottom:25px;padding:0;text-align:center;}
.price-list-table{width:100%;border-collapse:collapse;margin-bottom:22px;}
.price-list-table th{color:#ffffff;font-size:14px;font-weight:bold;white-space:nowrap;text-align:left;padding:13px 18px 13px 18px;background:#15404e;border:1px solid #15404e;vertical-align:middle;}
.price-list-table td{font-size:14px;color:#777777;font-weight:400;vertical-align:middle;padding:13px 18px 13px 18px;border-bottom:1px solid #e3e3e3;}
.price-list-table tr:nth-child(odd) td{background:#f9f9f9;}
.price-list-table td a{color:#348097;text-decoration:none;}
.price-list-table td:first-child{border-left:1px solid #e3e3e3;width:42%;}
.price-list-table td:last-child{border-right:1px solid #e3e3e3;width:25%;}
.price-list-table td .price{font-size:14px;color:#231f20;font-weight:bold;white-space:nowrap;}
.price-list-table td .price i{color:#777777;font-weight:400;font-style:normal;margin-right:4px;}
.price-list-table td .price span{color:#231f20;font-size:12px;font-weight:400;}
.price-list-table td .span{display:none;}
.price-list-text{overflow:hidden;font-size:16px;color:#231f20;line-height:28px;padding:0 68px;text-align:center;}
.name-company-block{position:relative;overflow:hidden;background:#f9f9f9;padding:31px 30px 26px 30px;margin-bottom:34px;}
.company-block-img{float:left;border:1px solid #e3e3e3;width:100px;height:100px;line-height:100px;text-align:center;background:#fff;margin-right:29px;}
.company-block-img img{vertical-align:middle;}
.company-block-cont{overflow:hidden;padding-top:8px;}
.name-company-block .name{display:block;font-size:14px;color:#231f20;font-weight:bold;margin-bottom:26px;}
.name-company-block .company-line{overflow:hidden;font-size:13px;color:#231f20;font-weight:bold;margin-bottom:16px;}
.name-company-block .company-line a{text-decoration:none;}
.name-company-block .company-line span{color:#666666;font-weight:400;display:inline-block;margin-right:5px;}
.basket-content .box-tabs-card-cont{border:none;padding:0;}
.yous-order{overflow:hidden;position:relative;text-align:center;padding-top:3px;padding-bottom:20px;margin-bottom:34px;border-bottom:1px solid #e3e3e3;font-size:16px;color:#231f20;font-weight:bold;}
.yous-order span{display:inline-block;color:#ff2289;margin-left:6px;}
.yous-order p{margin-bottom:18px;}
.information-company{overflow:hidden;position:relative;}
.information-company h2{color:#231f20;font-size:18px;font-weight:bold;margin-bottom:22px;}
.tabs-info-object-cont .box-add-review{padding-top:0;}
.no-robot{margin:17px 0 -7px 0;}
.yous-order2{border:none;padding:3px 0 0 0;margin:0 0 5px 0;}
.tabs-info-object-cont .sub-form-order{padding-top:0;}
.tabs-info-object-cont .sub-form-order .field-input textarea{height:148px;}
@media screen and (max-width:1230px){.option-block-line .field-input{float:none;width:100%;margin-bottom:10px;}
}
@media screen and (max-width:1200px){.basket-content .box-tabs-info-object li{width:100%;}
.basket-content .box-tabs-info-object .button-product__name{font-size:14px;}
}
@media screen and (max-width:1050px){.current-order{float:none;clear:both;margin-bottom:20px;width:100%;}
.current-status{float:none;clear:both;width:100%;margin-bottom:20px;}
.basket-tovar .order-block-table .th{width:44%;}
}
@media screen and (max-width:991px){.basket-tovar .photo-card-product__big{width:100%;height:268px;line-height:268px;float:none;}
.price-list-block .price-list-table tr{display:block;width:100%;border:1px solid #e3e3e3;margin-bottom:-1px;padding:13px 18px 5px 18px;}
.price-list-block .price-list-table tr:first-child{display:none;}
.price-list-block .price-list-table tr th{display:none;}
.price-list-block .price-list-table tr td{display:block;width:100%;clear:both;padding:0px 0 8px;border:none;}
.price-list-block .price-list-table td:first-child{width:auto;border-left:none;}
.price-list-block .price-list-table td:last-child{width:auto;border-right:none;}
.price-list-table tr:nth-child(odd){background:#f9f9f9;}
.price-list-table td .span{display:inline-block;color:#333;font-size:13px;font-weight:bold;white-space:nowrap;padding-right:3px;margin:0;}
.price-list-table td .price{display:inline-block;}
.price-list-text{padding:0 10px;}
.basket-tovar .photo-card-product__big{float:none;clear:both;margin-bottom:20px;}
.name-company-block{padding:10px;}
}
@media screen and (max-width:650px){.basket-tovar .order-block-table .th{width:50%;}
}
@media screen and (max-width:450px){.basket-right .main-cont-border{padding:10px;}
.basket-content .box-tabs-info-object li{width:100%;}
.basket-content .box-tabs-info-object .button-product__name{font-size:14px;}
.current-status .status{padding:10px;}
.current-status .status .status-name{float:none;clear:both;margin-bottom:10px;}
.current-status .status .status-top .date{float:none;clear:both;text-align:left;}
.current-order h2{margin-bottom:10px;}
.current-order .ok-block{margin-bottom:20px;}
.current-order .option-block{padding-top:20px;margin-bottom:20px;}
.company-block-img{float:none;margin-bottom:20px;}
.basket-tovar .photo-card-product__big{width:100%;}
.price-list-text{font-size:15px;line-height:24px;}
}