h1{ font:bold 21px/24px Tahoma, Arial, sans-serif; color:#231f20; text-transform:uppercase; padding:0 0 0 0; margin:0 0 0 0;}

.block-stars2{ float:none; padding:11px 0 0 0;}
.block-stars2__name{ font:bold 12px/15px Tahoma; color:#888888; padding:0 0 7px 0;}
.one-star_big{ display:inline-block; vertical-align:top; margin:0 -3px 0 0; width:20px; height:21px; background-position:0px 0px}
.one-star_big.active{ background-position:-20px -0px;}
.number-raiting2{display:inline-block; vertical-align:top; font:bold 12px/15px Tahoma, Arial, sans-serif; color:#231f20; padding:2px 0 0 5px; }

.box-select-address{ display:inline-block; background:#15404e; width:100%; max-width:270px; height:77px; padding:10px 20px 0 31px; text-align:left;}
.box-select-address__line{ position:relative; font:12px/18px Tahoma, Arial, sans-serif; color:#ffffff; display:inline-block; vertical-align:top; margin:7px 0 0 0;}
.box-select-address__line__link{ font:bold 12px/18px Tahoma, Arial, sans-serif; color:#04cffd;}
.box-select-address__line__link:after{ content:''; display:block; width:7px; height:5px; position:absolute; right:-13px; top:7px; display:block; background:url(../img/sprite2.png) no-repeat -41px 0px; background-size:330px 200px;}
.box-select-address__line__link span{ border-bottom:dotted 1px #04cffd;}
.box-select-address__line__link:hover{ color:#ffffff;}
.box-select-address__line__link:hover span{ border-bottom:dotted 1px #ffffff;}
.box-select-address__line__link_normal{ font-weight:normal;}

.column-card-left{ float:left; width:270px; z-index:2; position:relative; border:solid 1px #e3e3e3; padding:19px 19px 6px 19px; margin:30px 0 0 0;}
.column-card-right{ float:left; width:100%; z-index:1; position:relative;   margin:30px 0 20px -270px; padding:0 0 0px 300px;}
.column-card-right__cont{ border:solid 1px #e3e3e3; padding:0px 29px 23px 29px; }
.photo-card-product{ margin:0px 0 0 0;}
.photo-card-product__big{ width:100%; height:274px; border-bottom:solid 1px #e3e3e3; position:relative; overflow:hidden;}
.photo-card-product__big__loupe{ display:block; width:32px; height:32px; background-position:-110px 0px; z-index:2; display:block; position:absolute; right:-1px; bottom:19px;}
.photo-card-product__mini{ margin:4px -1px 0 -1px;}
.photo-card-product__mini__item{ display:inline-block; vertical-align:top; width:53px; height:53px; border:solid 1px #e4e4e4; margin-left:1px; margin-top:6px; position:relative;}
.photo-card-product__mini__item a{ display:block;}
.photo-card-product__mini__item a img{ display:block; width:100%;}
.note-product{ background-position:-48px 0px; width:62px; height:62px; position:absolute; left:10px; top:10px; z-index:2; text-align:center; padding:22px 0 0 0; font:bold 14px/18px Tahoma, Arial, sans-serif; color:#ffffff;}
.photo-card-product__mini__item.active{ border:solid 1px #0dd1fd; }
.photo-card-product__mini__item:after{ background:rgba(255,255,255,0.7); position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:3; content:'';}
.photo-card-product__mini__item.active:after{ display:none;}
.photo-card-product__mini__item:hover:after{ display:none;}
.photo-card-product__mini__item__video-play{ background-position:-149px 0px; position:absolute; left:50%; top:50%; display:block; position:absolute; width:29px; height:29px; margin:-15px 0 0 -15px; z-index:4;}

.photo-card-product__mini__item.hide{ display:none;}

.all-objects{ font:12px/18px Tahoma, Arial, sans-serif; color:#777777; padding:10px 0 0 0; }
.link-all-objects{ font:12px/14px Tahoma, Arial, sans-serif; color:#04cffd; display:inline-block; vertical-align:top; margin:2px 0 0 3px; border-bottom:dotted 1px #04cffd; position:relative;}
.link-all-objects:after{ background:url(../img/sprite2.png) no-repeat -142px 0px; width:7px; height:8px; content:''; display:block; position:absolute; right:-13px; top:4px; background-size:330px 200px;}
.link-all-objects:hover{ border-bottom:solid 1px transparent; color:#04cffd;}

.product-description{ padding:20px 0 0 0;}
.product-description__item{ font:12px/18px Tahoma, Arial, sans-serif; color:#555555; padding:3px 0 4px 0; }
.product-description__item span{ font-weight:bold; padding-left:7px;}

.box-buttons-product{ padding:8px 0 0 0;}
.button-product{ background:#f0efef; width:100%; height:47px; margin:15px 0 0 0; display:block; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative; margin:15px 0 0 0; display:block; padding:11px 20px 0 43px;}
.button-product_color{ background:#348097;}
.button-product__icon{ display:inline-block; vertical-align:top; background-position:-179px 0px; width:25px; height:25px; }
.button-product__name{ display:inline-block; vertical-align:top; font:bold 12px/18px Tahoma, Arial, sans-serif; color:#15404e; padding:3px 0 0 8px; text-transform:uppercase;}
.button-product_color .button-product__name{ color:#ffffff;}
.btn2 .button-product__icon{ background-position:-204px 0px;}
.btn3 .button-product__icon{ background-position:-230px 0px;}

.box-tests{ padding:25px 0 0 0;}
.box-tests__title{ font:bold 18px/20px Tahoma, Arial, sans-serif; color:#231f20; text-align:center; padding-bottom:13px;}
.box-tests__item{ padding:5px 0 0 0;}
.box-tests__item__line{ background:#15404e; width:100%; min-height:61px; position:relative; border-radius: 0px 30px 30px 0px; -moz-border-radius: 0px 30px 30px 0px; -webkit-border-radius: 0px 30px 30px 0px; padding:5px 5px 5px 18px; overflow:hidden;}
.box-tests__item__name { font:bold 13px/16px Tahoma, Arial, sans-serif; color:#ffffff; padding:8px 0 0 0; float:left; width:150px;}
.box-tests__item__place{ float:right; width:52px; height:51px; text-align:center; background-position:0px -63px; font:bold 10px/10px Tahoma, Arial, sans-serif; color:#ffffff; padding-top:7px;}
.box-tests__item__place.color2{ background-position:-53px -63px;}
.box-tests__item__place.color3{ background-position:-106px -63px;}
.box-tests__item__place span{  font:bold 24px/24px Tahoma, Arial, sans-serif; display:block; margin-bottom:-1px;}

.tests-description{ }
.tests-description__item{ border-bottom:solid 1px #e3e3e3; padding:11px 17px 12px 17px;}
.tests-description .tests-description__item:last-child{ border-bottom:none;}
.tests-description__item p{ font:12px/16px Tahoma, Arial, sans-serif; color:#555555;}
.tests-description__item a{ font:12px/16px Tahoma, Arial, sans-serif; color:#04cffd; text-decoration:underline;}
.tests-description__item a:hover{ text-decoration:none;}
.tests-description__item p span{ font-weight:bold; padding-left:5px; color:#000000;}

.box-tabs-card{} 
.box-tabs-card-buttons{ margin:-1px -30px 0px -30px; background:#ffffff;}
.box-tabs-card-buttons li{ list-style:none; width:33.33%; display:inline-block; vertical-align:top; margin:0 -5px 0 0; padding-right:1px;}
.box-tabs-card-buttons li:last-child{ padding-right:0px;}
.box-tabs-card-buttons .button-product{ width:100%; height:47px; margin:0px 0px 0px 0px; display:block; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; position:relative;  padding:11px 5px 0 5px; text-align:center;}

.box-tabs-card-cont{ padding:20px 0px 20px 0px; border-bottom:solid 3px #8fd700; }
.box-tabs-card-cont.color2{ border-bottom:solid 3px #00cefd;}
.box-tabs-card-cont.color3{ border-bottom:solid 3px #9b5ebd;}
.box-select-size{ border:solid 2px #ffba00; width:100%; height:157px; border-radius:78px; -moz-border-radius: 78px; -webkit-border-radius: 78px; position:relative; margin:16px 0 10px 0; text-align:center; padding:13px 15px 0 15px;}
.box-select-size__title{ display:inline-block; vertical-align:top; background:#ffffff; font:bold 18px/22px Tahoma, Arial, sans-serif; color:#231f20; margin:-28px 0 0 0; padding:0 14px 0 14px;}
.list-size-product{ width:100%; padding:0px 0 0 0; text-align:center;}
.list-size-product__item{ float:left; width:95px; height:95px; vertical-align:top; margin:0 4px 0 4px; list-style:none;}
.list-size-product__item__link{ position:relative; width:95px; height:95px; text-align:center; background:url(../img/icon_size.png) no-repeat left top; display:block; -moz-transition: all 0s linear; -o-transition: all 0s linear; -ms-transition: all 0s linear; -webkit-transition: all 0s linear; transition: all 0s linear;}
.list-size-product__item__link:hover, .list-size-product__item__link.active{ background-position:left bottom;}
.list-size-product__size{ background:url(../img/box_size.png) repeat-y center top; width:100%; height:21px; position:absolute; left:0px; top:25px; color:#348097; padding:1px 0 1px 0; font:bold 15px/18px Tahoma, Arial, sans-serif; color:#15404e; margin:12px 0 0 0; }
.list-size-product__item__link:hover .list-size-product__size, .list-size-product__item__link.active .list-size-product__size{ color:#ff9f00;}
.box-btn-carousel{ position:absolute; right:-2px; top:-18px; width:44px; height:29px; text-align:center; padding:7px 0 0 0;}
.prev-size-product{ background:url(../img/prev_gallery.png) no-repeat left top; width:22px; height:29px; float:left; background-size:22px 29px;}
.next-size-product{ background:url(../img/next-gallery.png) no-repeat left top; width:22px; height:29px; float:left; background-size:22px 29px;}

.description-card{ padding:0px 0 10px 0;}
.description-card__title{ text-transform:uppercase; font:bold 18px/22px Tahoma, Arial, sans-serif; color:#231f20; padding:0 0 6px 0;}
.description-card__text{ font:14px/21px Tahoma, Arial, sans-serif; color:#777777; padding:10px 0px 11px;}
.button-light-green{ background:#8fd700; height:35px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; position:relative; overflow:hidden; text-align:center; font:12px/18px Tahoma, Arial, sans-serif; color:#ffffff; display:inline-block; text-transform:uppercase; padding:8px 16px 0 16px; margin:9px 0 0 0; border:none;}
.button-light-green:hover{ color:#ffffff; -moz-opacity: 0.8; -khtml-opacity: 0.8;  opacity: 0.8;}
.button-light-green.top{ margin:24px 0 0 0;}
input.button-light-green{ padding:0 16px 0 16px;}

.button-light-green.mini{ height:30px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width:77px; padding:5px 5px 0 5px; margin:0px 0 0 0; display:inline-block; font-size:11px;}

.box-reviews{ padding:0px 0 10px 0;}
.list-reviews{ padding:0px 0 0 0; border-top:solid 1px #e3e3e3; margin:14px 0 0 0;}
.list-reviews__item{ border-bottom:solid 1px #e3e3e3; padding:26px 0px 25px 0px; list-style:none;}
.list-reviews__user{ float:left; width:100%; overflow:hidden; margin-right:-76px; padding-right:76px;}
.list-reviews__user__icon{ float:left; width:38px; height:34px; background-position:-157px -30px; margin:3px 0 0 -1px;}
.list-reviews__user__name{ float:left; width:100%; margin-left:-38px; padding:0 0 0 55px;}
.list-reviews__user .name{ font:bold 14px/18px Tahoma, Arial, sans-serif; color:#231f20;}
.list-reviews__user .date{ font:12px/18px Tahoma, Arial, sans-serif; color:#777777; padding:4px 0 0 0;}
.list-reviews .block-stars{ float:right!important; width:76px!important; padding:3px 0 0 0!important;}
.list-reviews__text{ font:14px/21px Tahoma; color:#777777; padding:16px 0 0 0;}

.box-add-review{ padding:18px 0 10px 0;}
.line-review-not-reg{ background:#f9f9f9; padding:24px 20px 25px 30px; margin:15px 0 0 0;}
.line-review-not-reg p{ font:14px/21px Tahoma; color:#777777; }
.line-review-not-reg a{ font:14px/21px Tahoma; color:#04cffd; text-decoration:underline; }
.line-review-not-reg a:hover{ text-decoration:none;}

.form-add-review{ padding:10px 0 0 0;}
.box-field{ margin:20px 0 0 0; overflow:hidden;}
.field-input{ width:100%; position:relative;}
.field-input_50{ width:50%; float:left; padding-right:15px; }
.box-field .field-input_50+.field-input_50{ padding-right:0px; padding-left:15px;}
.field-input input[type="text"]{ width:100%; height:28px; border:solid 1px #e3e3e3; font:300 12px/18px Tahoma; color:#555555; padding:3px 10px 3px 10px; background:#ffffff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative; -moz-box-shadow:inset 0 1px 0px 0 #ededed; -webkit-box-shadow:inset 0 1px 0px 0 #ededed; box-shadow:inset 0 1px 0px 0 #ededed;}
.field-input textarea{ width:100%; max-width:100%; height:118px; border:solid 1px #e3e3e3; font:300 12px/18px Tahoma; color:#555555; padding:3px 10px 3px 10px; background:#ffffff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative; -moz-box-shadow:inset 0 1px 0px 0 #ededed; -webkit-box-shadow:inset 0 1px 0px 0 #ededed; box-shadow:inset 0 1px 0px 0 #ededed;}
.field-input label{ font:12px/18px Tahoma; color:#555555; float:left; padding:6px 0 0 0;}
.field-input ::-webkit-input-placeholder{color:#000000; opacity:1 !important;}
.field-input ::-moz-placeholder{color:#000000; opacity:1 !important;}

.box-news2{ border-top:solid 3px #ff2289; margin:20px 0 0 0; padding:19px 0 0 0;}
.box-news2 .list-news{ margin-top:5px;}
.box-news2 .list-news__item{ width:33.33%;}
.box-news2 .list-news__item__info{ padding:19px 18px 15px 24px;}

.box-add-review .block-stars{ float:left!important; width:76px!important; padding:7px 0 0 10px!important; margin-right:0px!important;}

.table-info-size{ margin:30px 0 12px 0; width:100%; overflow:hidden; border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3;}
.table-info-size .tr{ overflow:hidden; display:block;}
.table-info-size .tr.head{ background:#15404e; margin-left:-1px; margin-right:-1px;}
.table-info-size .td{ float:left; text-align:left; padding:11px 2.8% 11px 2.8%; font:14px/18px Tahoma; color:#777777;}
.table-info-size .td span{ font-weight:bold; color:#231f20;}
.table-info-size .td span.gray{ color:#bebebe;}
.table-info-size .tr.head .td{ font:bold 14px/18px Tahoma; color:#ffffff; padding-bottom:13px;}
.table-info-size .td.col1{ width:110px;}
.table-info-size .other-cols{ float:left; width:100%; margin-left:-110px; padding:0 0 0 110px;}
.table-info-size .other-cols .tr{ border-bottom:solid 1px #e3e3e3; border-left:solid 1px #e3e3e3;}
.table-info-size .other-cols .tr:nth-child(even){ background:#f9f9f9;}
.table-info-size .other-cols .tr:last-child{ border-bottom:none;}
.table-info-size .td.col2{ width:23.5%;}
.table-info-size .tr.head .td.col2{ border-left:none;}
.table-info-size .td.col3{ width:37%;}
.table-info-size .td.col4{ width:19.5%;}
.table-info-size .td.col5{ width:20%; text-align:right; padding:6px 5px 4px 0%;}
.table-info-size .size{  color:#348097;}
.table-info-size__title{ background:#04cffd; width:69px; height:69px; border-radius: 33px 33px 0px 33px; -moz-border-radius: 33px 33px 0px 33px; -webkit-border-radius: 33px 33px 0px 33px; position:relative; margin:9px 0 0 0; text-align:center; font:bold 15px/18px Tahoma; color:#ffffff; padding-top:25px;}

.hide-on-mobile{}

.box-reviews.mini-reviews{ padding:26px 0 20px 0; text-align:center;}
.box-reviews .box-tests__title{ padding-bottom:0px;}
.mini-reviews .list-reviews{ padding:0px 0 0 0; border-top:none; margin:0px 0 0 0;}
.mini-reviews .list-reviews__item{ border-bottom:solid 1px #e3e3e3; padding:15px 0px 17px 0px; list-style:none; text-align:left;}
.mini-reviews .list-reviews__user{ float:none; margin-right:0px; padding-right:0px;}
.mini-reviews .list-reviews__user__icon{ width:43px; height:39px; background-position:-0px -23px; margin:4px 0 0 -1px;}
.mini-reviews .list-reviews__user__name{ margin-left:-43px; padding:0 0 0 60px; }
.mini-reviews .list-reviews__user .name{ font:bold 12px/16px Tahoma, Arial, sans-serif; color:#231f20;}
.mini-reviews .list-reviews__user .date{ font:11px/16px Tahoma, Arial, sans-serif; color:#777777; padding:1px 0 0 0;}
.mini-reviews .list-reviews__text{ font:11px/18px Tahoma; color:#777777; padding:6px 0 0 0;}

.box-reviews.mini-reviews .block-stars.block-stars_mini{ float:none!important; width:auto!important; padding:3px 0 0 0!important;}
.block-stars.block-stars_mini .stars{ display:block; margin:0 0 0 0; width:auto!important; text-align:left;}
.block-stars.block-stars_mini .one-star{ margin:0 -5px 0 0; width:11px; height:11px; background-position:-195px -29px!important;}
.block-stars.block-stars_mini .one-star.active{ background-position:-207px -29px!important;}

.box-action{ border:solid 3px #ffba00; background:#ffffff; padding:18px 0px 0px 0px; display:block; margin:29px 0 0 0;}
.box-action__title{ overflow:hidden; border-bottom:solid 1px #e3e3e3; padding-bottom:16px;}
.box-action__title__icon{ float:left; width:72px; text-align:center; position:relative; z-index:2;}
.box-action__title__icon p{ font:bold 10px/10px Tahoma; color:#ffba00; padding:8px 0 0 0; text-transform:uppercase;}
.box-action__title__name{ float:left; width:100%; text-align:left; position: relative; z-index:1; margin-left:-72px; padding:0 0 0 92px;}
.box-action__cont{ padding:0 20px 0 20px;}
.icon-action{ background:#ffba00; width:57px; height:57px; border-radius: 28px 28px 0px 28px; -moz-border-radius: 28px 28px 0px 28px; -webkit-border-radius: 28px 28px 0px 28px; position:relative; margin:2px 0 0 0; text-align:center; padding-top:12px; display:inline-block; vertical-align:top;}
.icon-best-price{ background-position:-219px -30px; width:28px; height:29px; margin:1px 0 0 0;}
.icon-that-provide{ background-position:-249px -30px; width:32px; height:28px; margin:1px 0 0 0;}
.title-action{ font:bold 16px/21px Tahoma; color:#231f20;}
.title-action:hover{ text-decoration:underline;}
.box-action__number{ font:14px/18px Tahoma; color:#777777; padding:8px 0 0 0;}
.box-action__number .number{ color:#ffba00; font-weight:bold;}
.box-action__number .town{ font:normal 12px/18px Tahoma; color:#348097;}
.line-price-action{ overflow:hidden; padding:20px 0 0 0;}
.box-action__price{ font:22px/34px Tahoma; color:#231f20; float:left;}
.box-action__price span{ font:bold 32px/34px Tahoma; padding-right:5px;}
.button-in-basket{ float:right; margin:0 0 0 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative; height:38px; width:107px; text-align:center; font-weight:bold; padding:10px 0 0 0; letter-spacing:0.5px}

.line-free-delivery{ background:#ffba00; width:100%; height:52px; border-radius: 26px; -moz-border-radius: 26px; -webkit-border-radius: 26px; position:relative; margin:20px 0 0 0; text-align:center; padding:9px 0 0 0;}
.line-free-delivery__icon{ display:inline-block; vertical-align:top; background-position:-159px -65px; width:49px; height:34px; margin:0 0 0 0; }
.line-free-delivery__name{ font:bold 14px/21px Tahoma; color:#ffffff; text-transform:uppercase; padding:5px 0 0 10px; display:inline-block; vertical-align:top;}

.line-free-tire{ background:#348097; width:100%; height:52px; border-radius: 26px; -moz-border-radius: 26px; -webkit-border-radius: 26px; position:relative; margin:20px 0 0 0; text-align:center; padding:9px 0 0 0;}
.line-free-tire__icon{ display:inline-block; vertical-align:top; background-position:-210px -65px; width:34px; height:34px; margin:0 0 0 0; }
.line-free-tire__name{ font:bold 14px/21px Tahoma; color:#ffffff; text-transform:uppercase; padding:5px 0 0 4px; display:inline-block; vertical-align:top;}

.box-action.blue{ border:solid 3px #348097;}
.box-action.blue .icon-action{ background:#348097;}
.box-action.blue .box-action__title__icon p{ color:#348097;}
.box-action.blue .box-action__number .number{ color:#348097;}

.line-address-shop{ overflow:hidden; padding:14px 0px 16px 0px; border-bottom:solid 1px #e3e3e3; text-align:left;}
.line-address-shop__logo{ width:55px; float:left; position:relative; z-index:2; margin:6px 0 0 0;}
.line-address-shop__info{ float:left; position:relative; z-index:1; margin-left:-55px; padding:0 0 0 75px; width:100%;}
.line-address-shop__name{ font:bold 14px/21px Tahoma; color:#231f20; padding:0 0 0 0;}
.line-address-shop__text{ font:14px/21px Tahoma; color:#777777; padding:0 0 0 0;}

.sub-info-action{ padding:10px 0px 10px 0px; text-align:center; overflow:hidden;}
.link-on-map{ display:inline-block; margin:8px 0 0 0;}
.link-on-map__icon{ background-position:-245px -65px; width:17px; height:24px; display:inline-block; vertical-align:top;}
.link-on-map__name{ display:inline-block; vertical-align:top; margin:3px 0 0 4px; font:14px/18px Tahoma; color:#04cffd; border-bottom:dotted 1px #04cffd; }

.link-phone{ float:left; margin:18px 0 0 0;}
.link-phone__icon{ background-position:-263px -65px; width:22px; height:22px; display:inline-block; vertical-align:top;}
.link-phone__name{ display:inline-block; vertical-align:top; margin:2px 0 0 4px; font:14px/18px Tahoma; color:#777777;}

.sub-info-time{ float:right; margin:17px 0 0 0;}
.sub-info-time__icon{ background-position:-286px -65px; width:24px; height:24px; display:inline-block; vertical-align:top;}
.sub-info-time__name{ display:inline-block; vertical-align:top; margin:3px 0 0 3px; font:14px/18px Tahoma; color:#777777;}
.sub-info-time__name .time{ padding-left:3px;}

.box-action__bottom{ background:#ffba00; padding:13px 15px 13px 19px; font:bold 14px/21px Tahoma; color:#ffffff; margin:9px 0 0 0;}
.box-action__bottom p{ letter-spacing:-0.2px;}
.box-action.blue .box-action__bottom{ background:#348097;}

.with-triangle-left{ position:relative;}
.with-triangle-left:before{ background:url(../img/triangle_before.png) no-repeat left top; width:27px; height:71px; position:absolute; left:-27px; top:111px; content:''; display:block; background-size:27px 71px;}

.line-sort{ padding:35px 0 0 0;}
.line-sort:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.line-sort__label{ float:left; font:12px/18px Tahoma; color:#777777; padding:0 9px 0 0;}

.line-sort .sort_by_list{ float:left; margin-right: 18px; }
.line-sort .sort_by_list>a{ color: #04cffd; font-size: 12px; border-bottom: 1px dotted #04cffd;}
.line-sort .sort_by_list .caret {
  margin-left: 0px;
  margin-top:1px;
  border-top: 3px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 3px solid #04cffd;}
.line-sort__result{ float:right; font:12px/18px Tahoma; color:#777777;}

.list-of-stores{ padding:0px 0 0 0; margin-top:-4px;}
.list-of-stores__item{ margin:30px 0 0 0; border:solid 1px #e3e3e3; padding-bottom:0px; list-style:none;}
.list-of-stores__item__title{ background:#15404e; font:bold 16px/18px Tahoma; color:#ffffff; display:block; margin:-1px -1px 0px -1px; padding:12px 21px 12px 21px;}
.list-of-stores__item__title:hover{ text-decoration:underline; color:#ffffff;}
.list-of-stores__item__cont{ padding:20px 20px 20px 22px; overflow:hidden;}
.list-of-stores__item__left{ width:168px; float:left; position:relative; z-index:2; padding:10px 0px 5px 0px;}
.list-of-stores__item__left p{ font:14px/21px Tahoma; color:#777777; padding:9px 0 0 0;}
.list-of-stores__item__left p .bold{ font-weight:bold; color:#000000;}
.list-of-stores__item__left .button-light-green{ margin:16px 0 0 0; padding:6px 13px 0 13px; width:auto;}
.list-of-stores__item__right{ float:left; width:100%; margin-left:-168px; padding:0 0 0 168px;}
.list-of-stores__item__right__cont{ background:#f9f9f9; padding:10px 20px 10px 20px;}
.list-of-stores__item .line-address-shop{padding:9px 0px 19px 0px;}
.list-of-stores__item .line-address-shop .line-address-shop__logo{ margin:1px 0 0 0;}

.sub-info-stores{ padding:9px 0px 3px 0px; text-align:center; overflow:hidden; margin:0 -21px 0 -21px;}
.sub-info-stores .link-on-map{ display:inline-block; margin:5px 21px 0 21px;}
.sub-info-stores .link-phone{ float:none; display:inline-block; vertical-align:top; margin:5px 21px 0 21px;}
.sub-info-stores .sub-info-time{ float:none; display:inline-block; vertical-align:top; margin:5px 21px 0 21px;}

.box-info-stores{ border-top:solid 3px #ffba00; background:#f9f9f9; padding:20px 23px 20px 23px; margin:30px 0 0 0; overflow:hidden;}
.box-info-stores p{ font:14px/21px Tahoma; color:#777777; letter-spacing:-0.2px;}
.box-info-stores p .character{ display:inline-block; vertical-align:top; font:bold 14px/21px Tahoma; color:#000000; display:inline-block; vertical-align:top; margin-right:10px; min-width:42px; padding-right:16px; position:relative;}
.box-info-stores p .character:after{ content:'-'; display:block; position:absolute; right:0px; top:0px; font:bold 14px/21px Tahoma; color:#777777;}

.box-characteristics{ border-top:solid 3px #8fd700; padding:20px 0px 20px 0px; margin:30px 0 0 0; overflow:hidden;}
.title-big{ font:bold 18px/21px Tahoma; color:#231f20; padding:0 0 0 0;}
.box-characteristics__item{ padding-top:15px; overflow:hidden;}
.box-characteristics__icon{ float:left; position:relative; z-index:2; width:57px; height:57px; background:#8fd700; border-radius: 28px 28px 0px 28px; -moz-border-radius: 28px 28px 0px 28px; -webkit-border-radius: 28px 28px 0px 28px; position:relative; margin:8px 0 0 0; padding:7px 0px 0px 7px; text-align:center;}
.box-characteristics__icon .circle{ background:#ffffff; width:43px; height:43px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; position:relative; display:block; display:table-cell; vertical-align:middle;}
.box-characteristics__icon-1{ display:inline-block; vertical-align:middle; width:27px; height:25px; background-position:-256px -0px;}
.box-characteristics__icon-2{ display:inline-block; vertical-align:middle; width:23px; height:27px; background-position:-284px -0px;}
.box-characteristics__info{ float:left; width:100%; padding:0 0 0 77px; margin:0 0 0 -57px; z-index:1; }
.box-characteristics__text{ font:14px/21px Tahoma; color:#777777;}
.box-characteristics__title{ font:bold 14px/21px Tahoma; color:#000000;}

.box-open-tests{ border-top:solid 3px #00cefd; padding:20px 0px 0px 0px; margin:7px 0 0 0;}
.box-open-tests__item{ padding:23px 0 0 0; padding-bottom:6px;  text-align:center;}
.box-open-tests__item__title{ background:#15404e; position:relative; width:100%; padding:10px 100px 11px 20px; z-index:2; text-align:left;}
.box-open-tests__item__title__text{font:bold 16px/21px Tahoma; color:#ffffff;}

.box-tests__item__place.big{ float:none; width:62px; height:62px; background-position:0px -115px; padding-top:12px; position:absolute; right:14px; top:-10px;}
.box-tests__item__place.big.color2{ background-position:-63px -115px;}
.box-tests__item__place.big.color3{ background-position:-126px -115px;}

.list-option-tests{ padding:0 0 10px 0; position:relative; z-index:1; text-align:left;}
.list-option-tests__item{ list-style:none; background:#f9f9f9; padding:15px 22px 15px 22px; border-bottom:solid 1px #e3e3e3;}
.list-option-tests .list-option-tests__item:nth-child(even){ background:#ffffff; padding:10px 22px 10px 22px;}
.list-option-tests__icon{ display:inline-block; vertical-align:middle; position:relative; z-index:2; width:31px; height:31px; background:#00cefd; border-radius: 15px 15px 0px 15px; -moz-border-radius: 15px 15px 0px 15px; -webkit-border-radius: 15px 15px 0px 15px; position:relative; margin:0px -5px 0 0; padding:0px 0px 0px 0px; text-align:center;}
.list-option-tests__icon__center{ text-align:center; width:31px; height:31px; display:table-cell; vertical-align:middle;}
.list-option-tests__text{ display:inline-block; vertical-align:middle; width:100%; position:relative; z-index:1; margin:0 0 0 -31px; padding:0 0 0 43px; font:14px/21px Tahoma; color:#777777; letter-spacing:-0.1px;}
.plus{ background:url(../img/plus.png) no-repeat left top; width:17px; height:17px; position:relative; display:inline-block; vertical-align:middle;}
.minus{ background:url(../img/minus.png) no-repeat left top; width:17px; height:5px; position:relative; display:inline-block; vertical-align:middle; margin-bottom:4px;}
.result{ background:url(../img/result.png) no-repeat left top; width:17px; height:11px; position:relative; display:inline-block; vertical-align:middle; margin-bottom:3px;}
.link-on-page-test{ font:14px/21px Tahoma; color:#04cffd; display:inline-block; vertical-align:top; text-decoration:underline; margin:4px 0 0 0;}
.link-on-page-test:hover{ text-decoration:none; color:#04cffd;}

.box-characteristics-column{ border:solid 3px #8fd700; background:#ffffff; padding:18px 20px 20px 20px; display:block; margin:29px 0 0 0; min-height:525px;}
.box-characteristics-column .box-characteristics__item{ border-top:solid 1px #e3e3e3; margin:16px 0 0 0; padding:22px 5px 12px 10px;}

.window_popup{ display:block!important; background:#ffffff; z-index:100; width:790px; max-width:100%; height:0px; overflow:hidden;opacity:0; visibility:hidden; position:relative;}
.window_popup.short{ width:490px;}
.fancybox-wrap .window_popup{ height:auto; overflow:visible; visibility:visible; opacity:1;}
.window_popup_cont{ position:relative; padding:20px 30px 20px 30px;}
.window-title{ background:#15404e; padding:12px 29px 14px 29px; }
.window-title h3{ font:bold 18px/21px Tahoma; color:#fefefe; padding-right:30px;}

.list-town{ width:190px; display:inline-block; vertical-align:top; padding:3px 15px 0 0;}
.list-town__item{ list-style:none; padding:3px 0px 5px 0px;}
.list-town__item a{ font:14px/18px Tahoma; color:#777777; position:relative; margin:0px 0px 0px; padding:0 0 0 15px;}
.list-town__item a:before{ background:#04cffd; width:6px; height:6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:absolute; left:0px; top:8px; content:'';}
.list-town__item a:hover{ color:#04cffd;}

.box-scroll-list{ width:100%; position:relative; overflow:auto;}
.nowrap{ white-space:nowrap;}

.fancy-content{ display: block; /*not none*/ height: 0px; overflow: hidden; visibility: hidden; } /*  element after load in fancybox inner */ .fancybox-inner .fancy-content{ height: auto; overflow: hidden; visibility: visible;}


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {


	.box-select-address__line__link:after{ background-image:url(../img/sprite2@2x.png);}
	.link-all-objects:after{ background-image:url(../img/sprite2@2x.png);}

}
@media screen and (max-width:1199px){
	.box-characteristics-column{ min-height:0px;}
}
@media screen and (max-width:1000px){
	.column-card-right{ padding:0px 0px 0px 285px; }
	.column-card-right__cont{ border:solid 1px #e3e3e3; padding:0px 19px 11px 19px; }
	.box-tabs-card-buttons{ margin:-1px -19px 0px -19px;}

	
}
@media screen and (max-width:991px){
	.box-news2 .list-news__item{ width:100%;}
}
@media screen and (min-width:768px) and (max-width:991px){
	.table-info-size .td{ float:none; padding:5px 2.8% 5px 2.8%; font:14px/18px Tahoma;}
	.table-info-size .td.col1{ float:left;}
	.table-info-size .other-cols{ float:left;}
	.table-info-size .td.col1{ float:left; }
	.table-info-size .td.col2{ width:100%;}
	.table-info-size .td.col3{ width:100%;}
	.table-info-size .td.col4{ width:100%;}
	.table-info-size .td.col5{ width:100%; text-align:left; padding:5px 2.8% 5px 2.8%;}
	.table-info-size .tr.head{ display:none;}
	.table-info-size{ border-top:solid 1px #e3e3e3;}
	
	.list-of-stores__item__right__cont{ padding:0px 10px 10px 10px;}
	.list-of-stores__item__left{ width:100%; float:none; padding:0px 0px 10px 0px;}
	.list-of-stores__item__right{ float:none; width:100%; margin-left:0px; padding:0 0 0 0px;}
}
@media screen and (max-width:767px){
	.box-news2 .list-news__item{ width:100%;}
	.column-card-left{ float:none; width:100%; margin:30px 0 0 0;}
	.column-card-right{ float:none; width:100%;  margin:30px 0 10px 0px; padding:0px 0px 0px 0px;}
	.photo-card-product__big{ text-align:center;}
	.photo-card-product__big img{ display:inline-block; vertical-align:top;}	
	.hide-on-mobile{ display:none;}
	
	.with-triangle-left:before{ display:none;}
	
	.box-select-address{ display:block; margin:15px 0 0 0;}

}
@media screen and (max-width:600px){
	.table-info-size .td{ float:none; padding:5px 2.8% 5px 2.8%; font:14px/18px Tahoma;}
	.table-info-size .td.col1{ float:left;}
	.table-info-size .other-cols{ float:left;}
	.table-info-size .td.col1{ float:left; }
	.table-info-size .td.col2{ width:100%;}
	.table-info-size .td.col3{ width:100%;}
	.table-info-size .td.col4{ width:100%;}
	.table-info-size .td.col5{ width:100%; text-align:left; padding:5px 2.8% 5px 2.8%;}
	.table-info-size .tr.head{ display:none;}
	.table-info-size{ border-top:solid 1px #e3e3e3;}
	
	.link-phone{ float:none; margin:18px 0 0 0; display:inline-block;}
	.sub-info-time{ float:none; margin:17px 0 0 0;  display:inline-block;}
	
	.list-of-stores__item__right__cont{ padding:0px 10px 10px 10px;}
	.list-of-stores__item__left{ width:100%; float:none; padding:0px 0px 10px 0px;}
	.list-of-stores__item__right{ float:none; width:100%; margin-left:0px; padding:0 0 0 0px;}
	
	.white-block{ padding-left:15px; padding-right:15px;}
}
@media screen and (max-width:450px){
	.table-info-size .td.col1{ float:none; }
	.table-info-size .other-cols{ float:none; margin:0 0 0 0; padding:0 0 0 0;}
	.table-info-size .other-cols .tr{ border-left:none;}
	
	.column-card-left{ padding:19px 9px 6px 9px;}
	.column-card-right__cont{ padding:0px 9px 23px 9px; }
	.box-action{ margin:10px 0 0 0;}
	
	.line-free-delivery__name{ font:bold 10px/21px Tahoma; padding:5px 0 0 0px;}
	.line-free-tire__name{ font:bold 10px/21px Tahoma; padding:5px 0 0 0px;}
	.box-action__cont{ padding:0 10px 0 10px;}
	
	.line-price-action{ text-align:center;}
	.box-action__price{ float:none; display:inline-block;}
	.button-in-basket{ float:none; display:inline-block;  margin:0 0 0 0; }
	.box-action__title__name{ padding:0 0 0 85px;}
	.title-action{ font:bold 14px/18px Tahoma;}
	
}